[2017-02-09 00:25] hmitsch opened #1 "Business Engineering the Workday Integration"
**Agile Story:**
As dev team I want to take an informed decision on the Workday Mozillians.org integration in order to build sustainable, robust and cost-effective software.

**Jobs To Be Done Story:**
When working on the Workday Mozillians.org implementation I want to have a crystal clear understanding of the integration technology (API, file via SFTP, etc) so I can ship software fast.

**Accepta

[2017-02-09 00:36] hmitsch opened #2 "Account Linking"
Auth0 will link the various accounts of a person to a single identity.

[2017-02-09 00:39] hmitsch opened #3 "(L) Auth0 enriched profiles (formerly acct linking)"
Acceptance Criteria:
* Work on https://github.com/mozilla-iam/auth0-deploy/pull/86#issuecomment-277792988: resolve blocker

[2017-02-09 00:39] hmitsch opened #4 "(M) Mozillians.org GitHub username integration"
**User Story:**
As a Mozillian I want to add my Github user name to my Mozillians.org profile in order to link it once Account Linking is set up in the Auth0 implementation.

**Acceptance Criteria:**
* Mozillians.org account panel has a field to enter a Github user name
* Ownership of this Github user name is verified via a call to Auth0
* Migration for existing Github user names
* Out of Scope: D

[2017-02-09 00:40] hmitsch opened #5 "(L) Business Engineering: Automatic LDAP attribute refresh"
**Objective:**
How are we going to do the automatic LDAP attribute refresh

**More Details:**
- Auth0 rule/extension
- Every time there is a user query, Auth0 refreshes LDAP groups and all other attributes

Remarks: This is a security enhancement to use LDAP groups for enterprise applications. As soon as Mozillians.org is synch'ed with LDAP it is a mandatory requirement to provide accurate group m

[2017-02-09 00:40] hmitsch opened #6 "(L) Automatic Mozillians.org group refresh"
This is optional because it is eventually achieved through Mozillians.org account migration to LDAP.

- Auth0 rule/extension
- Every time there is a user query, Auth0 refreshes Mozillians.org groups

[2017-02-09 00:42] hmitsch opened #7 "ParSys"

[2017-02-09 00:44] hmitsch opened #8 "Mozillians.org Mapbox Integration"
Acceptance criteria:
* Registered users can change their location in their Mozillians.org profile
* New users can register and provide their location information
* Users who registered during the "deactivated map" period get an email to update their location from 0;0 to something meaningful

[2017-02-09 16:05] hmitsch opened #9 "(Infra Mig) Mozillians.org infrastructure migration"
TBD

[2017-02-10 10:44] mbransn commented on #8
Following the Mozillians UI meeting between Henrik, Tasos, Nikos and myself -- I will update the Mozillians wireframes to incorporate city, state/region and country fields on sign up.

Our approach will be iterative and we have decided that a round of user testing will be done on a later sprint to determine if utilizing a map visual (for sign up and in the user settings page) is a viable addition

[2017-02-10 12:27] akatsoulas commented on #8
For the first iteration, the user will be able to submit location data through three drop-down menus which will provide sanitized data for countries, cities and regions. Ideally, the choices of each field will be dependent on the choice of the previous field. Eg country -> region (if applicable) -> city. These fields will support auto-completion.

Questions to answer:
* Are we keeping the current

[2017-02-10 16:23] hmitsch opened #10 "Sprint 1 Goal"
* Fail fast and fail forward (this is a "forming sprint")
* Prepare the environment for Account Linking
* Payback technical debt in Mozillians.org's Mapbox integration

[2017-02-13 12:17] mbransn commented on #8
@akatsoulas @johngian @comzeradd @hmitsch :

Attached is the IAM wireframe Sketch file (currently Mozillians focused). Comps for both mobile and desktop versions of the proposed log in/sign up flow are included. I've added an annotation above each screen outlining where I believe it 'lives'...within the Auth0 Lock or decentralized at the RP level (in this case, Mozillians). See attached screen sho

[2017-02-13 13:54] a-kilroy commented on #8
Please include me on any UX call. Thanks!

[2017-02-13 21:29] hmitsch opened #11 "How many community LDAP accounts show any activitiy in the past 12 months?"
**Knowns:**
* There are 1.696 accounts that are not explicitly disabled in the community tree of LDAP
* It's likely that less than half of those have seen any activity in the last year, but that's hard to quantify from LDAP data

**Objective:**
* Come up with a way to measure activity. @jdow has some ideas.

[2017-02-14 07:56] mbransn commented on #8
Sketch Cloud link: https://sketch.cloud/s/my87

**Note:** This does not show document annotation and reorders pages, pulling them out of accurate user flow order. Recommend downloading [Sketch](https://www.sketchapp.com/) app and viewing actual file (updated version below).

Clickable prototypes will be available today.

[MOZ_IAM_Auth0.sketch.zip](https://github.com/mozilla/iam-project-backlog/fil

[2017-02-14 09:19] mbransn commented on #8
**Desktop Prototype:** http://bit.ly/2kF7XtO

**Note:** Toggle 'Comments' in the bottom right hand corner to view/respond/leave notes on a respective screen.

[2017-02-14 12:28] mbransn commented on #8
Members from the ParSys team met today to review the current Mozillians desktop prototype (wireframe), focus was on the ‘Sign Up’ flow.

**Various updates were noted:**
- User name is a required field (resolved in new iteration)
- Password is not a field for sign up to mozillians. LDAP users will already have a password. (resolved in new iteration)
- Sign Up email success message lives within Auth

[2017-02-14 23:42] hmitsch opened #12 "Update the "Projects We Use" List"

[2017-02-15 00:49] hmitsch opened #13 "IAM Category on Discourse"
Please create a discourse category/mailing list for the IAM project. Please add the members of the IAM project to it or share how to subscribe to it with the project members.

Please also email the iam-dev@mozilla mailing list indicating that the purpose of the list is changing and it will now be an open list for RPs to join. Tell IAM project members on the list they're welcome to stay but to plea

[2017-02-15 11:54] flamingspaz opened #14 "Setup Discourse direct-delivery email-in"
https://tree.taiga.io/project/pierros-mozilla-particiaption-systems/us/214?kanban-status=904519

[2017-02-15 11:57] flamingspaz opened #15 "Campus clubs mailing list on Discourse"
Make campusclubs@ work in the same way as the Reps Council thing in Discourse

[2017-02-16 16:59] seanatmoz commented on #10
Mozilla IT pays for Mapbox and Maxmind for geo location.  If Mapbox doesn't work, maybe look at Maxmind (https://www.maxmind.com/en/geoip2-databases)? I think we subscribe to country/city only but I could be wrong.  Matt Pressman might know better.

[2017-02-16 17:00] seanatmoz commented on #8
Mozilla IT subscribes to Mapbox and Maxmind for geo location. If Mapbox doesn't work, maybe look at Maxmind (https://www.maxmind.com/en/geoip2-databases)? I think we subscribe to country/city only but I could be wrong. Matt Pressman might know better.

[2017-02-16 21:32] hmitsch opened #16 "Delivery team review of IAM Solution Architecture"
Draft solution architecture document:
* Lucidchart: https://www.lucidchart.com/documents/edit/4612e12b-e88b-4e17-a182-0278989c0582
* Author: MvK

Acceptance criteria:
* Delivery team (IT and ParSys) feels comfortable with the document
* Review meeting with MvK to discuss points which require clarification

[2017-02-16 21:45] hmitsch opened #17 "(LDAP Integration) Interface Contract for Community User Identity"
Acceptance Criteria:
* Document describing the field mapping for "Community User Identity" between Mozillians.org and LDAP
* Description of technical transport mechanism
* Rough sizing model for number of transactions passing this interface

[2017-02-20 16:47] flamingspaz commented on #15
Moved to https://github.com/mozilla/parsys/issues/40

[2017-02-20 16:47] #15 closed, assigned to nobody

[2017-02-20 23:54] hmitsch opened #18 "(Infra Mig) Mozillians.org on mozilla2.statuspage.io"
As a Mozilla OKTA user, I want to see Mozillians.org on Mozilla's StatusPage in order to get notified of downtimes.

[2017-02-21 09:05] hmitsch opened #19 "Sprint 2 Goal"
**Prioritized Themes**
* NDA Renewal process: _Finalize notification templates_ (done-done)
* SSO Dashboard: _DEV-ready dashboard replicating the existing OKTA dashboard (links and logos for SSO properties_
* Mozillians.org LDAP integration: Identify technology stack and get familiar with it
* IAM Solution architecture: _review MvK's artefacts and prepare for architecture review_
* ParSys infrastr

[2017-02-21 13:21] hmitsch opened #20 "Enterprise Architecture"
Scope in this epic usually includes:
* Enterprise architecture
* Functional architecture
* Solution architecture

[2017-02-21 13:24] hmitsch opened #21 "UX Research for LDAP migration"

[2017-02-21 13:26] hmitsch opened #22 "IT Maintenance and Bugfixing"
Note: This epic is a container. Not *all* these maintenance and bugfixing issues are bound to be addressed during the current sprint.

[2017-02-21 13:32] hmitsch commented on #7
Abandoned.

[2017-02-21 13:32] #7 closed, assigned to nobody

[2017-02-21 14:42] tristanweir opened #23 "SSO Dashboard"
Develop a dashboard that can replace the current Okta dashboard.

MVP - populate dashboard with icons/links for each SSO property (e.g. SmartSheet, Gmail, Mana)
Enhanced - display user-specific security information (e.g. login from a new country, Awareness Training status)

See https://github.com/mozilla-iam/sso-dashboard
and https://github.com/mozilla-iam/sso-dashboard/projects/1

* [AUTH0 DASHBO

[2017-02-21 17:16] hmitsch commented on #2
Blocked by LDAP profile definition

[2017-02-21 19:01] mbransn opened #24 "Wireframe Log In/Sign Up Flow (Mozillians.org)"
Based in Mozillians.org, I will wireframe Log In/Sign Up experience for users. Both desktop and mobile to be represented.

**Log In Paramenters:**
- Based in the Auth0 Lock
- Allows for password and passwordless entry
- Two factor authentication is present for unregistered devices (will this always be Duo?)
- Provides option to remember user
- User can easily move back to the beginning of flow to

[2017-02-21 19:04] mbransn opened #25 "(Auth0 Lock) Wireframe Alt-RP Version of Log In/Sign Up (Discourse)"
To help visualize the updated Log In/Sign Up flow, I will wireframe an alternate RP version using Discourse as the model.

This version will utilize the same functionality as our Mozillians.org wireframes and help to outline which screens are central to the Auth0 Lock vs. decentralized at the RP level.

In addition we will use this as an opportunity to begin highlighting and cataloging use case di

[2017-02-21 19:25] mbransn commented on #24
V2 clickable prototypes are available at the links below. Comments can be viewed and added via "comment mode", see the desktop prototype for universal annotations.

**Note:** V1 consisted of two options which were user tested, results outlined [here](https://docs.google.com/document/d/1TjUprptHMKTrrBubno4Qu6Gm6UC9vfUy_ZOpcFE1tUU/edit?usp=sharing).

**Desktop Prototype:** http://bit.ly/2kF7XtO
Cont

[2017-02-21 19:50] mbransn opened #26 "Mozillians.org : Wireframe Profile Settings Experience"
I will wireframe a new profile settings page for Mozillians.org, versions will include desktop and mobile.

These wireframes will reflect changes made to the Mozillians sign up experience and recommend updates based on user experience and user interface for Mozillians as a whole.

When initial versions are ready they will be added to the Mozillians prototype and be user tested.

[2017-02-21 19:51] mbransn opened #27 "Mozillians.org User Dashboard Wireframe"
I will wireframe a new user dashboard for Mozillians.org, versions will include desktop and mobile.

These wireframes will reflect changes made to the Mozillians sign up experience and recommend updates based on user experience and user interface for Mozillians as a whole.

When initial versions are ready they will be added to the Mozillians prototype and be user tested.

[2017-02-21 19:51] mbransn opened #28 "Auth0 Lock Prototype"

[2017-02-23 11:51] hmitsch commented on #16
Sent a proposal for the review process to the team.

[2017-02-23 12:12] hmitsch commented on #16
Sent a mail listing artifacts to the team.

[2017-02-23 15:55] hmitsch opened #29 "TEST 123"
@tristanweir commented on [Thu Feb 23 2017](https://github.com/mozilla-iam/mozilla-iam/issues/20)

Test issue

---

@tristanweir commented on [Thu Feb 23 2017](https://github.com/mozilla-iam/mozilla-iam/issues/20#issuecomment-282031508)

Test comment

---

@hmitsch commented on [Thu Feb 23 2017](https://github.com/mozilla-iam/mozilla-iam/issues/20#issuecomment-282031633)

test @tristanweir
Link to

[2017-02-23 15:59] hmitsch opened #30 "Need: script that set disable LDAP users as blocked in auth0"
@gdestuynder commented on [Fri Nov 04 2016](https://github.com/mozilla-iam/mozilla-iam/issues/1)

https://auth0.com/docs/api/management/v2#!/Users/patch_users_by_id
Update block to "true"

---

@gdestuynder commented on [Tue Nov 08 2016](https://github.com/mozilla-iam/mozilla-iam/issues/1#issuecomment-259214140)

Should also list all email aliases and block any other account that uses that email a

[2017-02-23 16:01] hmitsch opened #31 "Ensure LDAP groups get reflected on auth0 side periodically (without requiring an LDAP login)"
@gdestuynder commented on [Tue Nov 08 2016](https://github.com/mozilla-iam/mozilla-iam/issues/7)

Currently the auth0 LDAP agent does not reflect groups "live". it only update them when a login with LDAP occurs (as in a complete login flow where the ldap password is entered).
This means pooling the id_token attributes or user profile won't reflect current LDAP group until logout/login.

We want th

[2017-02-23 16:34] hmitsch opened #32 "Change auth0 auth-dev github extension to pull from development branch"
@gene1wood commented on [Fri Nov 11 2016](https://github.com/mozilla-iam/mozilla-iam/issues/9)

Currently it pulls from master. Change it to development. It might require disabling and re-enabling the extension as there's no apparent way to change the branch.

---

@gdestuynder commented on [Tue Nov 15 2016](https://github.com/mozilla-iam/mozilla-iam/issues/9#issuecomment-260745103)

Currently we

[2017-02-23 16:38] hmitsch opened #33 "Check RPs use the delegation endpoint/user sessions rechecks"
@gdestuynder commented on [Tue Dec 13 2016](https://github.com/mozilla-iam/mozilla-iam/issues/11)

In order to check that RPs are correctly handling user sessions (ie follows: https://wiki.mozilla.org/Security/Guidelines/OpenID_Connect#Session_handling )

we could check that the delegation endpoint is queried at the minimum. If not, its an indicator that the sessions are not being re-checked.

---

[2017-02-23 16:44] hmitsch opened #34 "Process and store email delivery records"
@gene1wood commented on [Mon Jan 23 2017](https://github.com/mozilla-iam/mozilla-iam/issues/12)

Currently AWS SES notifications regarding email delivery are sent to an AWS SNS Topic which is in turn subscribed to by a Google Group.

Searching in Google Groups for a specific user's delivery attempt isn't possible because the message content is JSON and Google Groups is expecting plan text.

I'd re

[2017-02-23 16:51] hmitsch opened #35 "Link user identities automatically by email"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/13)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/15_

Example: https://github.com/auth0/rules/blob/master/rules/link-users-by-email.md

---

@gdestuynder commented on [Wed Feb 22 2017](https://github.com/mozilla-iam/mozilla-iam/issues/13#issuecomment-281754064)

https://github.com/mozilla

[2017-02-23 16:53] hmitsch opened #36 "Modify email template to provide magic link and number code"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/14)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/22_

Also, change email send confirmation page to something that would accept the code and continue the auth flow.

[2017-02-23 16:54] hmitsch opened #37 "Add additional text to the Passwordless e-mail template to help it avoid Gmail spam filter"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/15)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/49_

Gmail marks Auth0 Passwordless e-mails as Spam. The reason given is:

It's similar to messages that were detected by our spam filters.

According to this site (emphasis added):
Your content has problems. It’s been judged not valuable o

[2017-02-23 16:56] hmitsch opened #38 "Potentially use the same rule for all LDAP access control"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/16)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/79_

Current we use one rule per LDAP application + LDAP group match for access control.
This means that we potentially end up with many rules (depending on how many RPs actually want this, and want a special, different group that we hardco

[2017-02-23 16:56] hmitsch opened #39 "Potentially use the same rule for all LDAP access control"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/16)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/79_

Current we use one rule per LDAP application + LDAP group match for access control.
This means that we potentially end up with many rules (depending on how many RPs actually want this, and want a special, different group that we hardco

[2017-02-23 16:59] hmitsch opened #40 "(Auth0 Lock) Disallow use of locks other than the "hosted lock" or our preferred lock"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/17)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/89_

We could do this by failing to login and showing a warning with a link to the documentation.

Ex rule (do not use this as-is, it's more of a POC):

[code]

The concept here is to set an attribute in the hosted lock that we can check fo

[2017-02-23 16:59] hmitsch opened #41 "Revert auth0-deploy/pull/85 workaround now that Auth0 has deployed fix"
@tristanweir commented on [Wed Feb 15 2017](https://github.com/mozilla-iam/mozilla-iam/issues/18)

_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/93_
_Replaces https://github.com/mozilla-iam/auth0-deploy/issues/95_

https://github.com/mozilla-iam/auth0-deploy/pull/85 works around an issue where a Duo user can be permanently locked out after multiple failed attempts. (see https://gith

[2017-02-23 17:02] hmitsch opened #42 "(LDAP Integration) SQL LDAP POC"
@andrewkrug updated on [Mon Mar 27 2017]
@hmitsch commented on [Fri Feb 17 2017](https://github.com/mozilla-iam/mozilla-iam/issues/19)

@tristanweir please add some detail here. :-)

**Goal**

Demonstrate the viability of using a queue approach of CRUD functions to LDAP.

**Minimum Requirements**

- [ ] Service is Multi-Region
- [ ] Using queue system does not add unnecessary overhead
- [ ] Change

[2017-02-24 00:33] jeffbryner opened #43 "Contractor Identity"
Executives would like discreet identities for contractors vs employees to allow for:
1) Proper representation in the public (i.e. bob@contractor.mozilla.com vs bob@mozilla.com)
2) Discreet email distribution lists for FTE vs Contractors to facilitate information dissemination.

[2017-02-24 04:43] mbransn commented on #25
Desktop AIM wireframe prototype for Discourse (as an alternate RP to Mozillians.org):
http://bit.ly/2lLw5OI

@LeoMcA @johngian @akatsoulas @comzeradd please make an initial review and log any questions/requests here or within the prototype's comments.

Questions to keep in mind:
- Does this capture sufficient user information at user sign up for Discourse vs. Mozillians.org?
- Is this log in flow

[2017-02-26 22:46] hmitsch opened #44 "(blocked) (Mozillians.org Ops) Bug 1342156: Create Runbook - Iteration 1"
https://bugzilla.mozilla.org/show_bug.cgi?id=1342156

[2017-02-26 22:47] hmitsch commented on #44
Blocked by missing Mana permissions to edit the runbook (https://bugzilla.mozilla.org/show_bug.cgi?id=1342811).

[2017-02-27 13:25] a-kilroy commented on #24
@m-branson Lets determine some testing for this. I'll send you an email and we can update this issue when we have a test decided.

[2017-02-27 17:31] mbransn commented on #24
@a-kilroy Sounds good. I've updated my initial comment to include a link to initial user testing results as well.

[2017-03-01 19:22] gene1wood commented on #13
@hmitsch Would you help with this by creating an IAM project user group in Mozillians and adding the members of the project to it so Leo can use that to create a discourse group?

[2017-03-01 22:17] mbransn commented on #25
Both desktop and mobile versions of the Alt-RP (Discourse) wireframe flow are available via the links below:

**Desktop:**
http://bit.ly/2lLw5OI

**Mobile:**
http://bit.ly/2mMilk3

@LeoMcA -- not sure if you've had a chance to run through this, but please let me know if you have any Discourse specific concerns prior to end of this sprint.

**Sketch file:**
[MOZ_IAM_Auth0.sketch.zip](https://github

[2017-03-02 10:11] hmitsch commented on #13
@LeoMcA assigning this to you. Do you need any help?

[2017-03-02 10:47] hmitsch commented on #13
Created group: https://mozillians.org/group/iam-project/

[2017-03-02 18:55] #29 closed, assigned to nobody

[2017-03-02 19:29] tristanweir commented on #16
Team reviewed and provided comments back to mvk on 3/1/2017

[2017-03-02 19:30] #16 closed, assigned to nobody

[2017-03-04 00:49] LeoMcA commented on #25
Looks good to me!

[2017-03-06 11:21] johngian opened #45 "Access to parsys sentry team"

[2017-03-06 11:22] #45 closed, assigned to nobody

[2017-03-06 15:16] mbransn opened #46 "Qualitative Log In/Sign Up User Testing"
A qualitative user test of the following three user flows will be conducted via Usertesting.com:

1. User Signs Up
2. User Logs In using a password
3. User Logs In without a password (passwordless)

Results from this test will be used to revise and iterate on the IAM Log In/Sign Up flow, currently being prototyped using Mozillians.org (https://github.com/mozilla/iam-project-backlog/issues/24)

[2017-03-06 15:17] mbransn commented on #24
**A qualitative IAM user test outline has been created to include three flows:**

1. User Signs Up
2. User Logs In using a password
3. User Logs In without a password (passwordless)

Next step is test implementation utilizing usertesting.com, which will be tracked via issue #46

[2017-03-06 15:22] mbransn commented on #25
**A qualitative IAM user test outline has been created to include three flows:**

1. User Signs Up
2. User Logs In using a password
3. User Logs In without a password (passwordless)

This test utilizes the Mozillians.org wireframe version ( #24 ), which consists of the same proposed Log In/Sign Up flows. Next step is test implementation utilizing usertesting.com, which will be tracked via issue #4

[2017-03-06 16:20] hmitsch commented on #44
Done, we use wiki.mo.o for the Runbook

[2017-03-06 16:20] #44 closed, assigned to nobody

[2017-03-06 16:20] tristanweir commented on #39
Duplicate #38

[2017-03-06 16:20] #39 closed, assigned to nobody

[2017-03-07 15:27] LeoMcA commented on #13
Category created: https://discourse.mozilla-community.org/c/iam

And post sent to iam-dev: https://groups.google.com/a/mozilla.com/forum/#!topic/iam-dev/NnAO5cDlLvc

[2017-03-07 15:27] #13 closed, assigned to nobody

[2017-03-07 19:13] tristanweir opened #47 "Update Auth0 Hosted Lock with new Branding"
See https://github.com/mozilla-iam/auth0-deploy/issues/97

[2017-03-08 11:50] #18 closed, assigned to nobody

[2017-03-08 12:03] #10 closed, assigned to nobody

[2017-03-08 12:09] hmitsch opened #48 "Sprint 3 Goal"
# Prioritized Themes

## Finish work in progress
* Mozillians.org geodata handling: remove maps from sign-up, restoring clean state of PROD https://github.com/mozilla/parsys/issues/13 https://github.com/mozilla/parsys/issues/17 https://github.com/mozilla/parsys/issues/18 https://github.com/mozilla/parsys/issues/37
* Update Auth0 Lock with new branding and move to Prod #47
* ParSys infrastructure m

[2017-03-08 13:58] #21 closed, assigned to nobody

[2017-03-08 14:01] hmitsch commented on #14
Duplicate

[2017-03-08 14:01] #14 closed, assigned to flamingspaz

[2017-03-08 14:18] hmitsch opened #49 "(LDAP Integration) Realize an agreed upon 'User Profile' (aka LDAP schema)"

[2017-03-08 14:18] hmitsch opened #50 "(LDAP Integration) Define how Auth0-Mozillians.org synchronization will work"

[2017-03-08 14:19] hmitsch opened #51 "(LDAP Integration) Technical design on CIS"
Acceptance Criteria:

* [x] diagram
* [x] data flow
* [x] user stories

[2017-03-08 14:25] hmitsch commented on #28
Removing Epic issue.

[2017-03-08 14:25] #28 closed, assigned to nobody

[2017-03-08 15:10] viorelaioia-zz opened #52 "(Test automation) Implement test case "Verify that the user is able to login passwordless""
Implement test case "Verify that the user is able to login passwordless" with the following steps:

1. Navigate to https://testrp.security.allizom.org
2. Click “Sign In”, then “Log in with email”
3. Enter a valid email address
4. Click “Send Email” button
5. Click the login link received in the email received by the email address used in step #3
 Expected: User is successfully logged in

[2017-03-08 15:11] hmitsch commented on #17
Archiving issue, replaced by #49 and #50

[2017-03-08 15:11] #17 closed, assigned to nobody

[2017-03-08 15:18] tristanweir opened #53 "SSO Dashboard UX/UI - Design"
Make the SSO Dashboard pretty and usable.

Tasks to achieve a pretty and usable SSO Dashboard (Auth0 Dashboard):

- [x] **Populate an outline** of functionality we need to design for (current & future features)
- [x] **Provide a link** to the new Auth0 Dashboard
- [x] **Determine when we will conduct user testing** for the new Auth0 Dashboard : will initially utilize a Beta release. Will identify

[2017-03-08 15:23] viorelaioia-zz opened #54 "(Test automation) Implement test case "Verify that user is able to login with github""
Implement test case "Verify that user is able to login with github" with the following steps:

1. Navigate to https://testrp.security.allizom.org
2. Click Sign In, then “Log in with github” button
3. Enter a valid github username/email address
4. Enter the password associated to the username/email address added in previous step
5. Click Sign In button
Expected: User is successfully logged in

[2017-03-08 15:26] tristanweir opened #55 "Implement Second Opinion Model"
Implement work described here:
https://mana.mozilla.org/wiki/display/SECURITY/Second+Opinion+Model+of+Authentication+and+Authorization

[2017-03-08 15:59] viorelaioia-zz opened #56 "(Test automation) Implement test case "Verify that user is able to login with google""
Implement test case "Verify that user is able to login with google" with the following steps:

1. Navigate to https://testrp.security.allizom.org
2. Click “Sign In”, then “Log in with google”
3. Enter a valid google email address and click Next
4. Enter the google password associated to the email address above and click “Sign in”
Expected: User is successfully logged in

[2017-03-08 21:21] tristanweir commented on #48
Moved Auth0-Mozillians.org sync to Backlog because there are dependencies on CIS design

[2017-03-08 22:24] tyearns opened #57 "User profile synchronization service between LDAP and Auth0"
Design POC service for pushing user account profile updates from LDAP to Auth0
- Validate POC functionality - In-Progress
- Component testing has been completed
- Artifacts available on Git (get URL from Kang)

[2017-03-08 22:42] tyearns opened #58 "Define Auth0 Dashboard Release Strategy"
- Define a communication plan announcing availability of the Auth0 dashboard
     - Release Auth0 dashboard
     - Turn-off Okta dashboard
- Determine strategy and requirements for continually transitioning applications from Okta to Auth0
     - Create notification channel for each user community
          - Enable Dashboard alerts to appear whenever an app is cutover
     - SAML assertion require

[2017-03-08 23:26] tyearns opened #59 "Determine RP cutover strategy"
Cutover priority to be determined according to recent usage metrics for each application, along with an assessment of the technical complexity required for transitioning to the Auth0 SSO process
- Cutover Priority Matrix: https://docs.google.com/spreadsheets/d/1VLwh2A9qbaRqByj7BYbnziWQLL_DdjemAiwT4_0OebE/edit#gid=0

In an effort to reduce the risk of the cutover activities having an adverse impact

[2017-03-08 23:30] tyearns commented on #59
[https://docs.google.com/spreadsheets/d/1VLwh2A9qbaRqByj7BYbnziWQLL_DdjemAiwT4_0OebE/edit#gid=0](url)

[2017-03-08 23:35] tyearns opened #60 "RP Cutover - Verify and descope RP"

[2017-03-08 23:41] tyearns opened #61 "RP Cutover - Verify and de-scope RP's targeted to be decommisioned"
Identify applications that may be decommissioned in the near-future - Jabba
- Verify and remove applications to be decommissioned immediately from the Auth0 dashboard cut-over plan
- Coordinate cut-over timing and activities with system owners for RP's targeted to be decommissioned after their intended cut-over period

[2017-03-09 00:17] tyearns opened #62 "Develop CIS POC"
- Define requirements
     - Queuing
     - Business integration logic (may fall under the LDAP POC)
- Perform design validation of Change Integration Service
     - Validate inputs ( from mozillians.org/workday integration, determine data storage method)
          - Define and implement data retrieval method
     - Transformation (Queuing system, LDAP SQL back-end,
     - Integration (posting/ins

[2017-03-09 00:23] tyearns opened #63 "Implement Phonebook/CIS integration"
Implement Phonebook(PHP)/CIS integration (Should remain active for 12 or so months)
- Redesign requirements TBD
- Proposed future-state may be to enable read-only state, routing updates to be executed via Mozillians.org

[2017-03-09 17:03] m-branson commented on #53
@andrewkrug following up after our kick off this week:

- Can you populate an outline of what functionality you feel is needed on your end? (or point us to a place where it already exists?)
- Provide screenshots of the current Okta board
- Provide screenshots (or a link via test acct) of your current Auth0 board
- What is our timing goal for having an initial version of wireframes ready?

Once we

[2017-03-09 22:56] floatingatoll commented on #63
(What's CIS?)

[2017-03-10 00:32] tyearns commented on #63
Apologies, this story is part of the LDAP/Mozillians integration for the IAM project, was erroneously assigned to you.

[2017-03-10 00:54] gdestuynder commented on #57
## Component testing references
(same thing, its been moved twice - feel free to close #31 if that's clearer)
https://github.com/mozilla-iam/mozilla-iam/issues/7
https://github.com/mozilla/iam-project-backlog/issues/31

## Main artifact

Tested and selected solution:

On LDAP group change, send an API call to auth0 for user:update_user such as:

`curl -H "Authorization: Bearer ..." -X PATCH  -H "C

[2017-03-10 01:01] gdestuynder commented on #57
## Todo
- [ ] Implement above integration rule into https://github.com/mozilla-iam/auth0-deploy for any data filled in `user.user_metadata.*`
- [ ] Implement trigger LDAP-side (https://github.com/mozilla-iam/ldap-postgres-reference) when the user profile is updated.
- [ ] Use trigger to send API call documented above (`https://auth-dev.mozilla.auth0.com/api/v2/users/...`) for all data from the use

[2017-03-10 18:51] mbransn opened #64 "Student user Log In/Sign Up use case (Thimble)"
**From Luke working on Thimble (MoFo):**

@hmitsch this came out of the biweekly MoFo design review I've started attending. Is this something we've accounted for?

[2017-03-10 21:14] tyearns commented on #61
**RP's Flagged for Decommissioning:**
- OpSec IP Query
- ClearBenefits
- Jobvite
- Sandbox AWS
- Yammer
- Admin - Admin AWS
- Admin - Production AWS
- Consolidated Billing AWS
- Production AWS
- Stage AWS
- Temp Admin - Consolidated Billing AWS
- Admin - Stage AWS
- FCm Travel Solutions Client Portal

[2017-03-10 21:14] hmitsch commented on #64
Hi @m-branson,

thanks for flagging this. Definitely relevant.

Short answer: No, we have probably not accounted for this.
Long answer: This is part of a bigger, more complex topic that is not solved yet.

I suggest to put this to the icebox until we have a solution for the so called "high volume, minimal engagement authentication" use cases.

Best regards,
   Henrik

[2017-03-10 21:22] #60 closed, assigned to nobody

[2017-03-10 23:26] mbransn commented on #64
Sounds good @hmitsch ...moved to icebox and we'll track as we work through high volume, minimal engagement auth use cases.

[2017-03-15 00:01] mbransn commented on #24
Cleaned up Sketch file and updated mobile versions to mirror the desktop edits made for testing.

**Desktop Prototype:** http://bit.ly/2kF7XtO

**Mobile Prototype:** http://bit.ly/2lL8o5X

**Sketch Cloud:** https://sketch.cloud/s/my87

[MOZ_IAM_Auth0.sketch.zip](https://github.com/mozilla/iam-project-backlog/files/843031/MOZ_IAM_Auth0.sketch.zip)

[2017-03-15 00:03] mbransn commented on #25
Cleaned up Sketch file and updated mobile to mirror desktop edits made for testing.

**Desktop:** http://bit.ly/2lLw5OI

**Mobile:** http://bit.ly/2mMilk3

**Sketch Cloud:** https://sketch.cloud/s/my87

[MOZ_IAM_Auth0.sketch.zip](https://github.com/mozilla/iam-project-backlog/files/843041/MOZ_IAM_Auth0.sketch.zip)

[2017-03-15 08:40] johngian opened #65 "Fix workaround for adding new emails to be compatible with SSO dashboard."
This ticket refers to an issue when adding alternate emails to mozillians.org that might conflict with the SSO dashboard.

* If you are already authenticated in mozillians.org and start a new OIDC authentication flow we identify it as an attempt to add a new email.
* Also most of the times this will raise an error because email exists in our database.

[2017-03-15 09:25] viorelaioia-zz commented on #52
Opened PR: https://github.com/mozilla-iam/auth0-tests/pull/1

[2017-03-15 12:06] johngian opened #66 "Remove legacy geodata codebase"

[2017-03-15 19:31] gdestuynder commented on #49
Work started at https://github.com/mozilla-iam/ldap-postgres-reference/tree/master/doc

[2017-03-16 02:41] mbransn commented on #26
Making some progress on a desktop version of an updated Mozillians settings page. Reminder that this is a wireframe and not indicative of a set UI or brand direction.

Initial idea is to bring pertinent user information (name/user name/photo/location/time zone) into a header. This may empathetically provide a user more pride and ownership of their profile build and Mozillians presence. _(Possibly

[2017-03-16 18:12] mbransn opened #67 "Sign Up UI Design (v1)"
For UI design of the IAM flow, I'll start with the Mozillians Sign Up screens. This will be an initial design based on new and evolving Mozilla brand guidelines. This will provide early direction for the IAM prototype that @comzeradd is implementing.

**Tasks to complete:**

- [x] **Interface with Brand Team re: design review process**
- [x] **Attend Portland Design Sprint to familiarize with new

[2017-03-20 08:14] viorelaioia-zz commented on #52
PR is merged

[2017-03-20 10:08] viorelaioia-zz commented on #54
Opened PR: https://github.com/mozilla-iam/auth0-tests/pull/2

[2017-03-20 10:08] viorelaioia-zz commented on #56
Opened PR: https://github.com/mozilla-iam/auth0-tests/pull/2

[2017-03-20 16:58] mbransn opened #68 "Review Log In/Sign Up User Testing"
Review user testing videos for the three Log In/Sign Up flows outlined in issue https://github.com/mozilla/iam-project-backlog/issues/46.

[2017-03-20 17:04] #25 closed, assigned to johngian, akatsoulas, comzeradd, viorelaioia-zz, mbransn

[2017-03-20 17:05] #24 closed, assigned to johngian, akatsoulas, comzeradd, viorelaioia-zz, mbransn

[2017-03-20 17:05] #46 closed, assigned to mbransn

[2017-03-20 22:49] hmitsch opened #69 "Sprint 4 Goal"
# Prioritized Themes

## Finish work in progress
* Mozillians.org deploy: _get geodata handling to DONE-DONE_

## Start/continue major topics
* [INFRASTRUCTURE] ParSys infrastructure migration: _RRA-follow-up security hardening: Improve all the things_
https://github.com/mozilla/parsys/issues/81
https://github.com/mozilla/parsys/issues/76
https://github.com/mozilla/parsys/issues/73
* [AUTH0 DASHBO

[2017-03-20 23:32] gdestuynder commented on #49
Current notes:
https://github.com/gdestuynder/ldap-postgres-reference/blob/master/doc/User_profile.json#L85 is to be updated by auth0 on creation/update, this can be done through a rule, or via CIS

https://github.com/gdestuynder/ldap-postgres-reference/blob/master/doc/User_profile.json#L108 is a little odd because its automatically generated. Has to be done via CIS. Could make this better.

[2017-03-20 23:36] gdestuynder commented on #32
As per previous comment I vote to close this

cc @gene1wood

[2017-03-20 23:37] gdestuynder commented on #57
I believe this supersedes https://github.com/mozilla/iam-project-backlog/issues/3 (ie that https://github.com/mozilla/iam-project-backlog/issues/3 can be closed)

[2017-03-21 00:14] gdestuynder commented on #51
# Sequence diagram ("data flow")

![change integration service 1](https://cloud.githubusercontent.com/assets/956866/24316941/a1915740-10af-11e7-8b6d-8ff6b8c2973a.png)

[code]

[2017-03-21 00:16] gdestuynder commented on #51
# High level diagram
https://mana.mozilla.org/wiki/display/SECURITY/IAM#IAM-Designarchitectureanddiagrams

[2017-03-21 00:21] gdestuynder commented on #51
moved to "in progress" since ive done this as part of sprint3 as requested initially... so well, its mostly done ;-) Its' been apparently moved back according to https://github.com/mozilla/iam-project-backlog/issues/48 (but ive seen that after finishing this)

notification: @tyearns

[2017-03-21 01:27] tyearns commented on #3
Closing per Kang's recommendation.

[2017-03-21 02:12] mbransn commented on #68
Reviewed, noted and compiled user testing results [here](https://docs.google.com/a/mozilla.com/spreadsheets/d/1sCaN-ELqVMV7B3dcm0UVTRUPVXdpTqCSJXAtVMCq-0w/edit?usp=sharing).

@a-kilroy let's set up a time to chat through some of the key findings once you're back in Berlin and rested up!

[2017-03-21 18:00] tyearns opened #70 "SAMPLE TEST"

[2017-03-21 18:45] mbransn opened #71 "Log In/Sign Up User Testing Results Implementation"
**Overview of actionable results from [Sprint 3 Log In/Sign Up user testing](https://github.com/mozilla/iam-project-backlog/issues/68).**

Looking to implement these in Sprint 4 via [Sign Up UI Design](https://github.com/mozilla/iam-project-backlog/issues/67) or within the code prototype being built by @comzeradd. Will note in each task where they will be implemented.

- [x] **Explore location of

[2017-03-21 18:57] mbransn commented on #68
Collecting actionable results [here](#71) to be implemented during Sprint 4.

[2017-03-21 18:57] #68 closed, assigned to mbransn

[2017-03-21 19:10] m-branson commented on #67
Adding tasks to this issue for Sprint 4:

- [ ] **Interface with Brand Team re: design review process**
- [ ] **Attend Portland Design Sprint to familiarize with new brand & begin building UI library*
- [ ] **Mozillians Header UI**
- [ ] **Mozillians Footer UI**
- [ ] **Email Entry UI**
- [ ] **Success Message UI**
- [ ] **Sign Up Form UI**
- [ ] **User Dashboard UI**

[2017-03-21 22:05] gdestuynder opened #72 "Employee account handling automation"
Employee onboarding/offboarding should be automated as per original IAM plans:

Onboarding:
- LDAP account creation should be automated from Workday (this will most likely happen with CIS)

Offboarding:
See complete list here: https://mana.mozilla.org/wiki/display/HOTH/Exiting+Procedure
- Auto deprovisioning for:

- [ ] LDAP (via CIS/Workday)
- [ ] IRC Cloud (API)
- [ ] Duo (API). @jdow I believe

[2017-03-21 22:09] gdestuynder opened #73 "Secure duo enrollment"
https://bugzilla.mozilla.org/show_bug.cgi?id=1341444#c5

[2017-03-21 22:12] gdestuynder commented on #63
@floatingatoll will AFAIK be the person doing the work so this might be assigned to him, but this is not ready for him (it depends on https://github.com/mozilla/iam-project-backlog/issues/51 and implementation of CIS)

[2017-03-21 22:18] gdestuynder commented on #49
Review needed:

- [ ] @jdow
- [x] @andrewkrug
- [ ] @gene1wood
- [x] @flamingspaz
- [ ] @akatsoulas
- [x] @johngian

[2017-03-22 09:25] viorelaioia-zz opened #74 "Update mozillians registration tests"
Update the tests as per changes done in geolocation handling.

[2017-03-22 15:17] viorelaioia-zz opened #75 "(Test automation) Verify that user is not able to login with Ldap if email address/password is not correct"

[2017-03-22 15:17] viorelaioia-zz opened #76 "(Test automation) Verify that user is not able to login with Ldap if email address/password field is empty"

[2017-03-22 15:18] viorelaioia-zz opened #77 "(Test automation) Verify that the user is not able to login Passwordless when the email is not in valid format"

[2017-03-22 15:47] andrewkrug opened #78 "Production Deployment of SSO Dashboard"
Deploy the new dashboard to sso.mozilla.org with the new configuration and link back to okta dashboard.

[2017-03-22 15:54] gene1wood opened #79 "Design and build out of band authentication and authorization provider"
[Second Opinion Model of Authentication and Authorization](https://mana.mozilla.org/wiki/display/SECURITY/Second+Opinion+Model+of+Authentication+and+Authorization)

Build the OIDC provider, wire it into the Duo API and create a test authorization datastore.

[2017-03-22 15:58] hmitsch commented on #55
Duplicated in https://github.com/mozilla/iam-project-backlog/issues/79, abandoning this issue.

[2017-03-22 15:58] #55 closed, assigned to gene1wood

[2017-03-22 16:18] gene1wood commented on #32
Sure thing. Committing to master will continue to auto deploy to auth0-dev

[2017-03-22 16:18] #32 closed, assigned to nobody

[2017-03-22 16:27] gdestuynder commented on #51
Review needed:

- [ ] @jdow
- [x] @andrewkrug
- [ ] @gene1wood
- [ ] @flamingspaz
- [ ] @akatsoulas
- [ ] @johngian

[2017-03-22 17:28] mbransn commented on #53
Hey @andrewkrug : Can you help me out with a couple of the tasks on this issue?

These are blocking me at the moment:
- [x] **Populate an outline** of functionality we need to design for (current & future features)
- [x] **Provide a link** to the new Auth0 Dashboard

And how do you feel about this one?:
- [x] **Determine need for UX wireframes vs. UI design**
(feels like this is far enough along a

[2017-03-22 17:38] mbransn commented on #26
Reminder to integrate #4 into this interface.

[2017-03-22 21:15] gdestuynder commented on #79
related https://github.com/mozilla-iam/auth0-scripts/issues/3

[2017-03-23 14:50] viorelaioia-zz commented on #56
PR is merged

[2017-03-23 21:51] #48 closed, assigned to nobody

[2017-03-23 22:09] #19 closed, assigned to nobody

[2017-03-23 22:27] #54 closed, assigned to viorelaioia-zz

[2017-03-23 22:28] #52 closed, assigned to viorelaioia-zz

[2017-03-23 22:56] #56 closed, assigned to viorelaioia-zz

[2017-03-24 02:24] andrewkrug commented on #53
@m-branson I will get on this right away.  You should be able to access the existing dashboard ( even without an ldap account at sso.allizom.org )  Let me know if that's not the case.

[2017-03-24 10:31] viorelaioia-zz commented on #74
Opened PR: https://github.com/mozilla/mozillians-tests/pull/302

[2017-03-24 15:31] viorelaioia-zz commented on #74
PR is merged.

[2017-03-24 17:48] andrewkrug commented on #49
@gdestuynder is this still waiting on any specific review from me?  I think the proposed profile is sufficient as a starting point.

[2017-03-24 17:50] andrewkrug commented on #51
I have reviewed this diagram and discussed with Kang.  There is some consensus needed on who is building what and what is going to be in the MVP.  For example:

- Does MVP need to include versioning for user profile and changed objects... probably not.
- What are the use cases we are writing for here?  Can we mock up some dummy users and scenarios to design / test against?
- Should was take certai

[2017-03-24 17:52] andrewkrug commented on #78
It was decided yesterday that we will put "production" at sso.security.mozilla.org until such time as we are ready to move over to sso.mozilla.org.  Production should include an HA deployment of the dashboard design as well.

There will be two testing phases for user acceptance.

- Phase 1 : IAM Team only (Alpha test)
- Phase 2 : IAM Team + Key players in IT (Sylvie, et all)

[2017-03-24 17:53] andrewkrug commented on #78
@jdow what are the criteria that you think need to be completed to move over to the new dashboard to replace current okta dash?

[2017-03-24 17:53] andrewkrug commented on #65
@johngian can you clarify this story... this card keeps coming up in my list.  I know we discussed it yesterday but I'm not clear on the work item.

[2017-03-24 23:30] gdestuynder commented on #3
@tyearns is this closed or open ? ;-)

[2017-03-24 23:39] gdestuynder commented on #51
I updated the diagram and pushed all this to git for better change tracking and notifications as aforementioned:

https://github.com/mozilla-iam/ldap-postgres-reference/pull/3/files

@andrewkrug I agree we should write up a few user stories just to be sure we're not missing anything. Even a lightweight thing like an issue/text file with a bunch of bullet points would be better than nothing :)

Edi

[2017-03-24 23:43] tyearns commented on #3
I'm awaiting confirmation. Was under the impression that you were awaiting final approval from the team. Can I close it?

[2017-03-25 00:03] gdestuynder commented on #49
nope checkbox checked is good :)

[2017-03-25 01:30] gdestuynder commented on #49
Made this a new PR https://github.com/mozilla-iam/ldap-postgres-reference/pull/4
Includes all feedback/etc so far. Awaiting @johngian feedback on user stories/data for potentially missing Mozillians fields such as Geoloc (please commit them as new user stories, it's the easiest i think, with rationale of why we want em)

Nevertheless I think this is sufficient to get started on CIS code.

[2017-03-25 05:54] #3 closed, assigned to gdestuynder

[2017-03-25 19:43] gdestuynder commented on #3
yep thanks - https://github.com/mozilla/iam-project-backlog/issues/57 is the same thing and a better place/more info

[2017-03-27 12:20] viorelaioia-zz commented on #77
Opened PR: https://github.com/mozilla-iam/auth0-tests/pull/3

[2017-03-27 14:43] viorelaioia-zz commented on #77
PR is merged

[2017-03-27 17:17] andrewkrug commented on #53
@m-branson sent you an IRC message but I thought I'd bump here as well on moving forward with UI for this.  I'm all for it and so is the rest of the team.  What can we get done this week?

[2017-03-27 17:18] andrewkrug commented on #65
@hmitsch can you clarify this story.  I'm sending a bump on this to see if we need it as part of this sprint and if there's something I need to do on the issue.

[2017-03-27 17:28] jdow commented on #78
I think the main criteria is user acceptance and decent UI. I think functionally what we have today is sufficient.

[2017-03-27 17:32] mbransn commented on #53
@andrewkrug thanks for the note here, IRC notifications don't come through on the telegram/slack side for me.

Thanks for confirming on the UI as next step. I was able to view and tour the current build on Friday, will be taking a first pass at the design this sprint (this week).

To help me design as intuitively as possible, I'd love to see and reference an **outline of functionality** that inclu

[2017-03-27 17:33] hmitsch commented on #65
ACK.
/cc @johngian

[2017-03-27 17:35] andrewkrug commented on #53
@m-branson do you have an example of an outline format you like?  If there's one in another of our repos I'll model it for the functions.

[2017-03-27 17:37] andrewkrug commented on #78
Cool then we're only really waiting on two things... both of which are on my to-do for this week:

- [ ] Restructure credstash secrets to match new style and naming
- [x] Move SSL certs to production let's encrypt server and store in credstash.

[2017-03-27 17:47] mbransn commented on #53
@andrewkrug great question, I don't have a preference (or a mozilla specific model to reference). As long as it provides a benchmark for what should be accounted for, I'm good. Also, this isn't a blocker for me to get started, but thinking it's something we should start now and keep track of as this rolls out and gains traction?

@hmitsch Can you point @andrewkrug to a feature list/outline that Mo

[2017-03-27 18:04] hmitsch commented on #53
@m-branson as far as I know, there is no feature list/outline yet. I guess this is a great moment to create one. I suggest to model it on @gdestuynder's IAM [user stories spreadsheet](https://docs.google.com/spreadsheets/d/13IXgQm_qnlO7dBNWddQtQj_86YpKKf1G_63oBdU6SvM/edit).

Hope this helps.

[2017-03-27 18:05] johngian commented on #65
I think that we should remove ``[AUTH0 DASHBOARD]`` and change it to ``mozillians``. This ticket refers to an issue when adding alternate emails to mozillians.org that might conflict with the SSO dashboard.

* If you are already authenticated in mozillians.org and start a new OIDC authentication flow we identify it as an attempt to add a new email.
* Also most of the times this will raise an error

[2017-03-27 18:14] mbransn commented on #53
Thanks @hmitsch appreciate it, @andrewkrug let me know your thoughts on using the spreadsheet model? I'm not married to the format, but appreciate that it outlines feature priority level, user role and use case.

I've also created an [SSO folder](https://drive.google.com/open?id=0B0vmiicLLrGuMV9Ydzh5MFdGQ3M) where we can start to populate this doc and others.

[2017-03-27 18:35] hmitsch commented on #53
@m-branson here is another example/template which could be used for user stories: https://github.com/mozilla-iam/ldap-postgres-reference/pull/3/commits/0e4d57fd159a4cb75470eee15529eb2084cd1658

[2017-03-27 19:25] mbransn commented on #53
Awesome, thanks @hmitsch ... @andrewkrug I'm good with either of these. Will leave the format decision to you (and your IT counterparts) for SSO feature tracking going forward.

[2017-03-27 23:50] andrewkrug commented on #42
@tyearns @tristanweir @hmitsch This story has been updated and is in progress.

[2017-03-28 11:14] johngian opened #80 "Fix filtering and pagination for NDA group."

[2017-03-30 10:43] johngian opened #81 "Enable HSTS preloading in mozillians.org"

[2017-03-30 14:57] viorelaioia-zz commented on #75
Opened: https://github.com/mozilla-iam/auth0-tests/pull/5

[2017-03-30 22:14] andrewkrug commented on #53
@m-branson I think my user stories doc is done.

[2017-03-30 22:16] andrewkrug commented on #78
SSL certs moved to ACM certificates today in preparation for productionalization.

[2017-03-30 22:19] hmitsch opened #82 "Sprint 5 Goal"
# Prioritized Themes

## Start/continue major topics
* [INFRASTRUCTURE] ParSys infrastructure hardening: _MozDef integration_ (and others)
https://github.com/mozilla/parsys/issues/73 (meta issue)
* [LDAP INTEGRATION - MOZ] ```OKR: A mocked volunteer Mozillians.org profile which was provisioned to LDAP via CIS is retrieved through Auth0```: _Crushing the boulder_
   * Draft new issues for actual CI

[2017-03-30 22:25] andrewkrug commented on #53
@hmitsch just noticed you are planning Sprint #5 for this.  We are not yet ready to broaden the scope of the trial.  But did capture some feedback.  Will need someone with CSS / Ninja frontend skills in Sprint 5 to make the UI changes a reality. Propose holding off a broader scoped pilot to after sprint 5.

[2017-03-30 22:28] andrewkrug opened #83 "Create Cloudformation to Deploy Multi-Region sso.dashboard"
SSO dashboard now has valid SSL certificates in 3 regions in both dev and prod infosec accounts.  Let's move to deploying this with CF as a part of the applications maturity model.

[2017-03-30 22:30] andrewkrug commented on #65
@hmitsch for sprint #5 let's clarify this.  Some of the work for the new user profile accommodates multiple e-mails.

[2017-03-30 22:34] andrewkrug commented on #78
This will likely complete tomorrow and have a CI pipeline as well re: sso.security.allizom.org as our temporary production until we switch over.

[2017-03-30 22:35] andrewkrug opened #84 "Vanity urls served by sso.mozilla.com"
@jdow informs me that there is either an instance of nginx or apache on sso.mozilla.com that currently handles all the redirects to big long sso URLs.  We'll need to account for this feature and build it into the dashboard design in some way or stage a new service for handling sso vanity URLs.

[2017-03-30 22:38] andrewkrug commented on #62
I did kind of a spike on this because I had a few extra cycles over the last couple days.  https://github.com/mozilla-iam/ldap-postgres-reference/tree/kinesis_streams

Most of the work is there.  @akatsoulas will sync in the coming days on this story and try to clarify some of the requirements around queueing.  @gdestuynder and I are thinking kinesis streams could be a good fit for our queue but w

[2017-03-30 22:40] hmitsch commented on #53
@andrewkrug the Sprint 5 Goal card #82 is currently in _experimental mode_. Please do *not* take anything for real. It is a copy&paste of Sprint 4 Goal #69 and needs much more love between now and Tuesday.

Anyway, thanks a lot for that update. Highly appreciated!

[2017-03-30 22:52] andrewkrug commented on #53
Not a problem @hmitsch I'm just trying to ensure I have all the things
updated so you have all the info you can.

On Thu, Mar 30, 2017 at 3:40 PM, Henrik Mitsch <notifications@github.com>
wrote:

--

Andrew J Krug
Security Engineer / Identity and Access Management
akrug@mozilla.org | IRC: andrew

[2017-03-31 00:24] gdestuynder commented on #49
PR of Integration of the user profile to auth0 (initial version at least, but it's functional and is one of the required pieces)

https://github.com/mozilla-iam/auth0-deploy/pull/108

[2017-03-31 03:23] mbransn commented on #53
Thanks for the update @andrewkrug - will take a look tomorrow and start to align my progress with yours.

UI progress has been [populated in this doc](https://docs.google.com/a/mozilla.com/presentation/d/1szprZnIZsb3kRAqDUmdRYl-7vCnDDEQ1NqH1FvS-EuY/edit?usp=sharing). I'll be sharing this with brand team members and other creatives for design critique tomorrow (Friday).

Please review and leave com

[2017-03-31 15:21] andrewkrug commented on #53
@m-branson loving the simplicity in this design.  We are trying to avoid user customization for a while since then we have to save user state while we're iterating on the bones of the app.  Currently it doesn't even have an RDBMS backing it for doing things like favoriting apps and such.  I do like the the look and style around it.  Makes a lot of sense.

The security alert center and notification

[2017-03-31 17:05] mbransn commented on #53
Thanks for the feedback @andrewkrug -- right in line with what I need to know for prioritization.

Noted and makes sense. Looking to build a longer term vision with this initial design that we can scale back for iterative release. Hopefully by the time we're ready for favorites/customization we'll have a refined design that all major parties (e.g., Brand, IT, etc) have approved. :)

Great to know,

[2017-03-31 20:54] gdestuynder commented on #49
Should add SAML mapping in auth0 for the profile

[2017-03-31 21:12] mbransn commented on #53
@andrewkrug just reviewed your user stories (great!) and left a handful of comments/questions. Happy to chat about those on Monday if you'd prefer that over replying, just grab time on my calendar.

[2017-03-31 22:31] andrewkrug commented on #53
Questions answered!  Loving the async workflow.

On Fri, Mar 31, 2017 at 2:12 PM, Megan Branson <notifications@github.com>
wrote:

--

Andrew J Krug
Security Engineer / Identity and Access Management
akrug@mozilla.org | IRC: andrew

[2017-03-31 23:44] mbransn commented on #53
Fantastic, agreed re: async success!

[2017-04-03 09:21] johngian opened #85 "[Bug 1351853] Geodata migration issue"

[2017-04-03 10:02] comzeradd opened #86 "Simplify Profile status UI"
Old PR pending review

[PR #1436](https://github.com/mozilla/mozillians/pull/1436)

[2017-04-03 10:03] comzeradd opened #87 "Groups grid UI enhancements"
Old PR pending review

 [PR #1426](https://github.com/mozilla/mozillians/pull/1426)

[2017-04-03 12:38] viorelaioia-zz commented on #75
PR is merged.

[2017-04-03 17:27] mbransn commented on #71
These updates have been made to the latest version of the wireframes and will be visually shared via #67 during Sprint 5.

[2017-04-03 17:52] johngian opened #88 "Autovouch @getpocket.com emails"

[2017-04-04 15:45] #71 closed, assigned to mbransn

[2017-04-05 14:44] viorelaioia-zz opened #89 "(Test automation) Verify that user is not able to login with github if email address/password is not correct"

[2017-04-05 14:46] viorelaioia-zz opened #90 "(Test automation) Verify that user is not able to login with google if email address/password is not correct"

[2017-04-05 14:48] mbransn commented on #26
Settings page added to clickable prototypes.

[Desktop](http://bit.ly/2kF7XtO)
[Mobile](http://bit.ly/2lL8o5X)

[2017-04-05 14:48] #26 closed, assigned to mbransn

[2017-04-05 14:56] #76 closed, assigned to viorelaioia-zz

[2017-04-05 14:57] #77 closed, assigned to viorelaioia-zz

[2017-04-05 14:57] #75 closed, assigned to nobody

[2017-04-05 14:57] #74 closed, assigned to viorelaioia-zz

[2017-04-05 16:08] mbransn commented on #53
@tyearns @hmitsch I've updated this ticket's tasks to more accurately reflect current UI design progress. Goal for Sprint 5 is to achieve initial release versions of all UI elements (in the task list) that can be handed off to @comzeradd (via a Sketch file) for front-end implementation.

[2017-04-05 16:10] andrewkrug commented on #53
Thanks Megan.  Would also suggest @comerzadd and I sync up on how to get a
development environment going.  For the most part this is just a basic
flask app.  But there are a few things to setup for local testing.

On Wed, Apr 5, 2017 at 9:08 AM, Megan Branson <notifications@github.com>
wrote:

--

Andrew J Krug
Security Engineer / Identity and Access Management
akrug@mozilla.org | IRC: andrew

[2017-04-05 18:48] comzeradd commented on #53
Yes, @andrewkrug that would be helpful 👍

[2017-04-05 23:45] #8 closed, assigned to johngian, akatsoulas, mbransn

[2017-04-05 23:46] #66 closed, assigned to johngian

[2017-04-06 16:35] mbransn opened #91 "Tech Review of Mozillians Profile Settings"
[Desktop Wireframes](http://bit.ly/2kF7XtO) (complete log in flow to view profile settings page)

- [x] Megan to set a meeting where we can achieve the following:
- [x] Jointly review Mozillians profile settings
- [x] Identify which fields require verification
- [x] Identify which fields are hosted within Mozillians vs an external application
(e.g. password management)
- [x] Set milestones for imp

[2017-04-06 23:06] mbransn opened #92 "Request Open Design Support for Icons"
Mozilla entities are in need of Icons/Branding that are in accordance with the new brand. These icons will be used on the SSO (Auth0) Dashboard and the sites themselves.

Requests for Icons/Branding will be made via [OpenDesign](https://github.com/mozilla/opendesign) and linked here:
- [x] MDC [Requested](https://github.com/mozilla/OpenDesign/issues/104)
- [x] MANA [Requested](https://github.com/m

[2017-04-07 17:49] mbransn opened #93 "SSO Session Log In/Log Out UX Update"
Update Auth0 Lock wireframes to reflect language for a 'remembered' user as it pertains to their Mozilla SSO session.

-----

- [x] Log In UX
 - Remembered user language should reflect that a user is 'currently logged in to Mozilla SSO as xxx@email.com'.
 - User is prompted to continue RP Log In as this user OR sign in with a different account (this routes user to Auth0 Lock email entry screen)
 -

[2017-04-07 17:50] mbransn commented on #93
@jdow @andrewkrug can you both take a quick look at this and let me know if language is correct/if anything is missing?

[2017-04-10 16:45] #88 closed, assigned to johngian

[2017-04-10 16:45] #85 closed, assigned to nobody

[2017-04-10 16:46] #81 closed, assigned to nobody

[2017-04-10 16:46] #80 closed, assigned to nobody

[2017-04-10 16:46] #69 closed, assigned to nobody

[2017-04-10 21:23] #59 closed, assigned to tyearns

[2017-04-10 23:57] mbransn commented on #93
**Log In UX**
Language has been updated to reflect that a user is currently logged in with Mozilla SSO and prompted to either continue or log in using a different account.

![mozillians-login-email-remembered](https://cloud.githubusercontent.com/assets/18686986/24887142/8c799982-1e0e-11e7-8527-c4ce2dab2629.jpg)

-----
**Log Out UX**
An RP log out confirmation page has been added to the UX [prototy

[2017-04-11 00:00] mbransn commented on #93
@jdow @andrewkrug can you both take a look at my last comment and confirm that this inline with what we discussed for RP related SSO log in/log out? Thanks!

(will move this ticket to Review for the time being)

[2017-04-11 10:37] hmitsch opened #94 "Penetration test (pentest) of Mozillians.org"
---------- Forwarded message ----------
From: Henrik Mitsch <hmitsch@mozilla.com>
Date: Fri, Apr 7, 2017 at 7:50 PM
Subject: Re: Q2 Pentest of Mozillians.org?
To: Jonathan Claudius <jclaudius@mozilla.com>
Cc: John Giannelos <nemo@mozilla.com>, Tasos Katsoulas <akatsoulas@mozilla.com>, Yousef Alam <yalam@mozilla.com>

yes, awesome. We are totally in for that.

On Fri, 7 Apr 2017 at 16:24, Jonathan

[2017-04-11 10:42] hmitsch opened #95 "Referrer policy for Mozillians.org"
---------- Forwarded message ----------
From: Richard Soderberg <rsoderberg@mozilla.com>
Date: Mon, Apr 10, 2017 at 7:00 PM
Subject: Re: [mozilla/iam-project-backlog] Enable HSTS preloading in mozillians.org (#81)
To: Henrik Mitsch <hmitsch@mozilla.com>

Could you open a new issue about adding a Referrer policy to Mozillians.org? I found Phonebook leading search terms to offsites at one point, so

[2017-04-11 10:44] hmitsch commented on #95
From @johngian:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy

[2017-04-11 13:49] claudijd commented on #94
👍

[2017-04-11 15:10] viorelaioia-zz commented on #90
Pull request is merged: https://github.com/mozilla-iam/auth0-tests/pull/6

[2017-04-11 15:11] viorelaioia-zz commented on #89
Pull request is merged: https://github.com/mozilla-iam/auth0-tests/pull/6

[2017-04-11 17:18] mbransn opened #96 "SSO Dashboard Alert/Notification - UI Design"
Moving this task to its own issue (from #53) as it will be implemented during a later release date, currently TBD.

-----

Design Alert & Notification UI for the Auth0 SSO Dashboard, [user stories for reference](https://docs.google.com/a/mozilla.com/document/d/1xZaDKYcZGT9rMZfWtqWFek9onnXVPZOiRq8SUlgaGkw/edit?usp=sharing).

[2017-04-11 17:21] mbransn opened #97 "SSO Dashboard New App Access Request - UI Design"
Moving this task to its own issue (from #53) as it will be implemented during a later release date, currently TBD.

-----

Design UI that allows a user to request access to a new app from the Auth0 SSO Dashboard, [user stories for reference](https://docs.google.com/a/mozilla.com/document/d/1xZaDKYcZGT9rMZfWtqWFek9onnXVPZOiRq8SUlgaGkw/edit?usp=sharing).

- [ ] define plan and rewrite this checkbox

[2017-04-11 17:26] mbransn opened #98 "SSO Dashboard Favorite Apps - UI Design"
Moving this task to its own issue (from #53) as it will be implemented during a later release date, currently TBD.

-----

Design UI that allows users to add/remove apps as Favorites within the Auth0 SSO Dashboard. This includes UI for a Favorites section.

[User stories](https://docs.google.com/a/mozilla.com/document/d/1xZaDKYcZGT9rMZfWtqWFek9onnXVPZOiRq8SUlgaGkw/edit?usp=sharing) for reference.

[2017-04-11 17:34] mbransn commented on #53
Moving these tasks from this ticket to their own as they won't be included in initial release.

- [ ] **Alert/Notification UI** #96
- [ ] **App Request UI** #97
- [ ] **Favorites UI** #98

[2017-04-11 17:42] tyearns commented on #53
Excellent, thanks Megan.

On Tue, Apr 11, 2017 at 10:34 AM, Megan Branson <notifications@github.com>
wrote:

[2017-04-13 01:34] mbransn commented on #53
Mobile UI has been built and added to the [UI review deck](https://docs.google.com/a/mozilla.com/presentation/d/1szprZnIZsb3kRAqDUmdRYl-7vCnDDEQ1NqH1FvS-EuY/edit?usp=sharing).

@andrewkrug @comzeradd when you have a chance, can you take a look and let me know your thoughts?

[2017-04-13 01:37] mbransn opened #99 "SSO Dashboard Development Environment"
@andrewkrug @comzeradd moving this over from #53 for you two connect on next week.

[2017-04-14 14:21] andrewkrug commented on #99
@comzeradd and I will be on this after the holiday weekend.  Monday is a holiday for most of Europe.

[2017-04-14 14:22] andrewkrug commented on #97
@jdow should this be an integration with service now?

[2017-04-14 16:10] jdow commented on #97
I think it's probably going to be as it is now: either servicenow or bugzilla bug to request access to an app, or to request addition to a group in general. I think long term each app would have a group associated with it and those groups would likely be managed by IT or self-serve group owners in mozillians.org, etc. I don't know that we'd need a specific UI for requesting access, other than mayb

[2017-04-14 17:31] mbransn commented on #97
Thanks for the details here @jdow ... the new UI has this living in the menu as an actionable UI element (see menu image below). This 'feels' like a primary level action similar to settings and log out, where as help desk/privacy/legal are secondary level actions that live in the footer.

Thinking that 'access request' in the menu will direct to a form that has an intro with the language you used

[2017-04-19 11:08] comzeradd commented on #53
Looks good to me 👍

We could that drive folder to add any assets that I'll need to start coding the Frontend (icons, fonts, etc).

[2017-04-19 19:29] andrewkrug commented on #83
First re-deploy of sso.allizom.org with load balancing is complete.

[2017-04-19 21:50] mbransn commented on #53
Thanks @comzeradd -- there's now an [initial-release folder](https://drive.google.com/drive/folders/0B0vmiicLLrGuZ3ZyM1RfMUZFT1k?usp=sharing) in the SSO drive folder. Let me know if you need anything else asset wise. 👍

[2017-04-19 22:18] mbransn commented on #53
Moving this ticket to done with the following UX/UI acceptance criteria for initial release:

- Dashboard UI is implemented with the UI shown here: http://bit.ly/2oOOyZF
  - Mozilla branded header.
  - Search bar w/active, focused and hover states.
  - Menu with or without user image populated. If no user image available, simple user icon is default.
  - Menu active state with users name and the a

[2017-04-20 12:55] viorelaioia-zz opened #100 "Investigate and fix mozillians tests that are failing intermittently"
Lately, I've seen a couple of mozillians tests failing quite often in dev/stage/prod:

- [test_group_invitations](https://fx-test-jenkins.stage.mozaws.net/job/mozillians.dev/102/HTML_Report/)
- [test_group_description_edit](https://fx-test-jenkins.stage.mozaws.net/job/mozillians.stage/100/HTML_Report/)

The failures should be investigated and fixed.

[2017-04-20 13:23] hmitsch opened #101 "Sprint 6 Goal"
## Prioritized Themes

* [AUTH0 DASHBOARD] _Drive the dashboard infrastructure to DONE-DONE_
   - [ ] Development of core Dashboard [functionality](https://github.com/mozilla-iam/sso-dashboard/projects/1)
   - [x] #99 SSO Dashboard Development Environment
   - [ ] #65 Fix workaround for adding new emails to be compatible with SSO dashboard
   - [ ]  #78 Production Deployment of SSO Dashboard
   -

[2017-04-20 14:10] hmitsch opened #102 "Functional view on Q2 OKR: A mocked volunteer Mozillians.org profile which was provisioned to LDAP via CIS is retrieved through Auth0"
![2017-04-20 iam q2 okr story map](https://cloud.githubusercontent.com/assets/869692/25234957/042f53b8-25e4-11e7-809c-755a8b2a4de7.png)

[2017-04-20 14:56] comzeradd opened #103 "SSO Dashboard Implement initial version of UI design"
Based on the [design work](https://github.com/mozilla/iam-project-backlog/issues/53), next step is its frontend implementation.

[2017-04-20 15:00] mbransn commented on #93
@jdow @andrewkrug can I get your eyes on this ticket so we can close (or iterate)? Thanks!

[2017-04-20 15:05] gdestuynder opened #104 "Move testrp from delegation endpoint to silent authentication for session management"

[2017-04-20 15:20] gdestuynder commented on #51
This is the capture of the work/decision:

https://docs.google.com/document/d/1eoQ5K3bTCuUYaTGmLtFSdNq-hzXZCRM4Cjuhw1Vv6rI/edit#

<img width="396" alt="image" src="https://cloud.githubusercontent.com/assets/956866/25238469/5ff5a69e-25a2-11e7-9634-e5e07231ab5b.png">

[2017-04-20 15:23] gdestuynder commented on #51
Work for CIS implementation is at https://github.com/mozilla-iam/cis

[2017-04-20 18:00] mbransn opened #105 "SSO Dashboard App Icons"
Build and export PNGs for the [rest of the apps](https://github.com/mozilla-iam/sso-dashboard-configuration/tree/master/images) supported by the SSO Dashboard.

Prioritizing:
- [x] Mozillians
- [x] Reps
- [x] Moderator
- [x] Discourse
- [x] Everything else 😉

[2017-04-20 18:09] mbransn opened #106 "SSO Dashboard Fail Page"
Design a fail page to be used for 404s and other errors.

Requests for a humorous page have been made by various IAM team members, recommendations welcome. 😄

[2017-04-20 18:21] #51 closed, assigned to gdestuynder

[2017-04-20 21:13] hmitsch commented on #50
Archiving issue, replaced by #102.

[2017-04-20 21:13] #50 closed, assigned to nobody

[2017-04-21 15:57] gene1wood commented on #79
So far the Duo components have been completed and tested. I initially attempted to use [chalice](https://github.com/awslabs/chalice) but encountered a bunch of bugs and I lost confidence in it. I moved to using [Zappa](https://github.com/Miserlou/Zappa) which doesn't attempt to map Flask routes to API Gateway endpoints but instead just tells API Gateway to forward all traffic to the lambda functio

[2017-04-21 16:30] tyearns opened #107 "Identity Management / Mozillians.org Integration - Parent"
**Parent story for all story cards associated with the LDAP/Mozillians.org Integration workstream.**

   - [x] #3 (L) Auth0 enriched profiles (formerly acct linking)
   - [x] #50 (LDAP Integration) Define how Auth0-Mozillians.org synchronization will work
   - [x] #5 (L) Business Engineering: Automatic LDAP attribute refresh
   - [x] #6 (L) Automatic Mozillians.org group refresh
   - [x] #31 Ensur

[2017-04-21 17:52] mbransn commented on #103
Tracking issues from the [SSO Dashboard repo](https://github.com/mozilla-iam/sso-dashboard-configuration) for initial release:

- [x] User Menu [#42](https://github.com/mozilla-iam/sso-dashboard/issues/42)
- [x] Logo/Menu Alignment [#41](https://github.com/mozilla-iam/sso-dashboard/issues/41)

[2017-04-21 18:25] tyearns commented on #101
**Sprint Board Management Guidelines (Proposed)**
   Individual story-cards should be created and maintained within the Master Sprint Board (iam-project-backlog) for all project activities:
   * The "Master" board will contain only in-scope story cards for the work to be completed within each sprint (as opposed to the Sprint Goal story card)
      * Any stories that cannot be worked on within the

[2017-04-21 18:27] #92 closed, assigned to mbransn

[2017-04-21 18:28] mbransn commented on #53
Closing, this issue is now in development [here](https://github.com/mozilla/iam-project-backlog/issues/103).

[2017-04-21 18:28] #53 closed, assigned to comzeradd, andrewkrug, mbransn

[2017-04-21 18:39] andrewkrug commented on #101
https://github.com/mozilla/iam-project-backlog/issues/106 Adding fail page story

[2017-04-21 18:40] andrewkrug commented on #101
Adding ICON story https://github.com/mozilla/iam-project-backlog/issues/106

[2017-04-21 18:43] andrewkrug commented on #103
Initial PR is in for this and deployed to sso.allizom.org

[2017-04-21 18:52] andrewkrug commented on #99
Nikos is up and running and the dev role has been provisioned.

[2017-04-21 18:52] #99 closed, assigned to comzeradd, andrewkrug

[2017-04-21 18:53] andrewkrug commented on #103
@m-branson is that checklist representative of what we would consider "done" for this story?

[2017-04-21 19:00] andrewkrug commented on #83
Dev version  complete for us-west-2

[2017-04-21 19:01] andrewkrug commented on #84
@jdow @jeffbryner can you close this one out if you think that this feature is ready

[2017-04-21 19:17] mbransn commented on #103
Those tasks are the most obvious blockers to an initial release. Full list @comzeradd should be referencing is at the end of this [ticket](https://github.com/mozilla/iam-project-backlog/issues/53). Will post the list here as well for clarity:

- [x] Dashboard UI is implemented with the UI shown here: http://bit.ly/2oOOyZF
  - [x] Mozilla branded header.
  - [x] Search bar w/active, focused and hov

[2017-04-21 19:33] mbransn commented on #101
Updated UX Design to include SSO fail page #106, SSO Icons #105 and Mozillians.org profile settings tech alignment #91.

[2017-04-21 23:53] jeffbryner commented on #84
Nicely done!

[2017-04-21 23:53] #84 closed, assigned to nobody

[2017-04-22 00:36] mbransn commented on #105
App icons have been updated and added to this [drive folder](https://drive.google.com/drive/folders/0B0vmiicLLrGuU1BNVTg0aWtLMkU?usp=sharing).

@comzeradd -- I've opened [this issue](https://github.com/mozilla-iam/sso-dashboard/issues/43) in the sso-dashboard repo for implementation. (I wasn't able to assign it to you there?)

@hmitsch -- Mozillians, Reps, Moderator & Discourse have been updated a

[2017-04-22 00:36] #105 closed, assigned to mbransn

[2017-04-22 05:08] hmitsch commented on #105
Excellent, thank you.

On Sat, 22 Apr 2017 at 02:36, Megan Branson <notifications@github.com>
wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-04-24 16:28] mbransn commented on #91
Follow up from today's alignment meeting:

- [User stories](https://docs.google.com/a/mozilla.com/spreadsheets/d/1bo5Cxi3XkcjpMI0KT8DZoCvJDNFseML0iHlVuCCI9X4/edit?usp=sharing) doc has been started (thanks @andrewkrug!)
- Scheduling a follow up meeting to finish review (made it halfway through in today's meeting)

[2017-04-24 16:52] floatingatoll commented on #95
cc @april since this will end up being replacement Phonebook's referrer-policy header someday.

[2017-04-24 20:56] gene1wood commented on #49
@gdestuynder What specifically are you looking for review of in [this comment](https://github.com/mozilla/iam-project-backlog/issues/49#issuecomment-288237128)

[2017-04-24 21:57] andrewkrug commented on #78
Production deploy in place.  Waiting DNS transition in bugzilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=1359243

[2017-04-24 21:58] andrewkrug commented on #103
@m-branson can I check off any of these boxes yet?  Seems like we're getting close.

[2017-04-24 22:02] andrewkrug commented on #101
Sprint goal card brought in line with reality.  Up to date regarding dashboard work.  4/24/17

[2017-04-24 22:03] andrewkrug commented on #83
Prod version complete in us-west-2

[2017-04-24 22:03] mbransn commented on #103
Quite close! Just took a run through and checked off what I felt was 'done'.

[2017-04-24 22:06] andrewkrug commented on #103
We are going SO fast it's great.  Thanks for the update.

[2017-04-24 22:46] gdestuynder opened #108 "Move box client from sso to "client" in auth0"
edit: we actually did that before figuring out that clients were better than the sso integration because more configurable

we should ask auth0 if they can move box to clients for us during the next production upgrade. if they cant we'll have to recreate the client (and thus call box)

[2017-04-25 00:19] gdestuynder commented on #49
the comments that were above it, but honestly its too late. we agreed on the profile and will iterate from it from now on.
This is the decided profile: https://github.com/mozilla-iam/ldap-postgres-reference/blob/master/doc/User_profile.json
And iteration will appear in http://github.com/mozilla-iam/cis

Therefore also closing this

[2017-04-25 00:19] #49 closed, assigned to gdestuynder

[2017-04-25 00:23] gdestuynder commented on #104
This is done:
https://github.com/mozilla-iam/testrp.security.allizom.org/commit/36711903d5be4ab66c6f8f645e7316ca56a6e5ec
https://github.com/pingidentity/lua-resty-openidc/pull/47

Set to review as pingidentity actually reviews the implementation for lua

[2017-04-25 00:29] #93 closed, assigned to jdow, andrewkrug, mbransn

[2017-04-25 00:39] mbransn opened #109 "SSO Dashboard Log Out Success UI"
This ask came out of this [issue](https://github.com/mozilla-iam/sso-dashboard/issues/61). Opening a separate issue to track progress.

- [x] Design log out success page for SSO Dashboard.
- [x] Design log in page for SSO Dashboard (Auth0 lock without sign up functionality).

[2017-04-25 00:40] mbransn commented on #109
Went ahead and comp'd these. Let me know thoughts.

**Log out success screen:**

Includes a button to return to log in. @comzeradd this button would fill black on hover.

![sso-logout](https://cloud.githubusercontent.com/assets/18686986/25363762/fce7e4b8-2911-11e7-93c5-353c71f6e432.jpg)

**Log in screen:**

Auth0 lock within the Mozilla branded SSO header, sign up language removed. @comzeradd this

[2017-04-25 00:42] mbransn commented on #101
Added #109 to align UX goal with current SSO dashboard progress.

[2017-04-25 08:20] zandbelt commented on #104
see: https://github.com/pingidentity/lua-resty-openidc/pull/47#discussion_r112803377 for a question on this

[2017-04-25 14:21] april commented on #95
Ahh, thanks for pulling me in.  Let me know if you need any help with things!

[2017-04-25 21:24] gdestuynder opened #110 "Support access-proxy for APIs"
There is a demand to provide auth0-managed API keys that front existing APIs.
This is possible in a setup such as the one documented here: https://auth0.com/blog/use-nginx-plus-and-auth0-to-authenticate-api-clients/

Requirements:
 - [ ] Create a testrp setup with an API protected by the access-proxy, document it on the testrp repository
 - [ ] Associate RP's custom API keys with `user_id`'s
 - [

[2017-04-25 21:29] gdestuynder opened #111 "Semi-automate new Auth0 client provisioning with ServiceNow (The Hub) workflow management"
This is the task of automating the ServiceNow SSO form to become a 1-click approval for new auth0 client.
Workflow proposal:

1. Service owner visits https://mana.mozilla.org/wiki/display/SECURITY/SSO+Request+Form to inform themselves of the options, etc.
2. Service owner fills service now request as per above link
3. Request is created, Jabba or someone else/group of people ("person in charge") a

[2017-04-25 22:10] andrewkrug commented on #111
ServiceNow automatically create the client in Auth0 and sends the credentials to the Service owner -- e-mail option, s3 AND/OR credstash deposit ?

[2017-04-25 22:24] gdestuynder commented on #35
https://github.com/mozilla-iam/auth0-deploy/issues/15#issuecomment-281391602
https://github.com/mozilla-iam/auth0-deploy/pull/86#issuecomment-281390853

This was already closed, and still cannot be done properly. Instead, linking manually in the profile via Mozillians.org is the working solution, at least until https://github.com/auth0/rules/issues/71 is resolved

[2017-04-25 22:24] #35 closed, assigned to nobody

[2017-04-25 23:01] gdestuynder commented on #111
Some use cases:
- I'm an AWS user and I just want to be able to pick up the information (I would vote credstash here, though we probably need more options depending on the service owner, for example FirefoxServices use sops/KMS)
- I'm using a Saas and I need to pass the info over (I would vote some ServiceNow mechanism if available, else fallback to email +gpg, but that's not prefered)

[2017-04-26 00:26] mbransn commented on #106
@andrewkrug @comzeradd thoughts on this fail page?

Using the [video](https://www.youtube.com/watch?v=Ybvwh0reiMU) @flamingspaz called out in the IAM channel, though we can utilize anything (vid/img/gif).

![fail-page](https://cloud.githubusercontent.com/assets/18686986/25413080/583e1740-29dc-11e7-9627-96b78d774da8.jpg)

[2017-04-26 00:36] mbransn commented on #109
Updated these pages to no longer have the SSO app-bar header (as both will be hosted at Auth0).

![sso-login](https://cloud.githubusercontent.com/assets/18686986/25413229/9f9f4b94-29dd-11e7-883f-04d546f01420.jpg)

![sso-logout](https://cloud.githubusercontent.com/assets/18686986/25413234/a4f0e0d0-29dd-11e7-96a3-1a6ea4102e34.jpg)

[2017-04-26 03:46] andrewkrug commented on #106
I love it.  Let's roll with it.

On Apr 25, 2017 5:27 PM, "Megan Branson" <notifications@github.com> wrote:

[2017-04-26 06:47] comzeradd commented on #109
From mozilla-iam/sso-dashboard/issues/61 I get that the logout page will live inside the dashboard app. @andrewkrug can you confirm?

[2017-04-26 14:16] johngian opened #112 "Make mozillians.org prod-ready docker files"

[2017-04-26 15:00] andrewkrug commented on #109
@comzeradd that's the easiest way to handle it I think.  Rather than having yet another redirect.

[2017-04-26 16:31] mbransn commented on #109
@comzeradd @andrewkrug sounds good, thanks for clarifying. Restating 'outloud' to be sure I'm on the same page:

- SSO dashboard log in is hosted at Auth0 Lock.
- SSO dashboard log out is hosted within the dashboard.

As for UI, I still feel we should design the log out success screen without the SSO app-bar header (most recent visuals posted). Outside of the logged in experience the app-bar serve

[2017-04-26 16:33] andrewkrug commented on #109
@comzeradd @m-branson Correct.  Regarding the above statement.

[2017-04-26 16:50] mbransn commented on #106
Awesome, thanks @andrewkrug.

@comzeradd what do you need from me to get this implemented? A marked up version (padding/sizing/etc) and a mobile version?

[2017-04-26 21:12] #82 closed, assigned to hmitsch

[2017-04-26 22:43] hmitsch commented on #102
The vertical line going from LDAP to Auth0 is also manifested in story: #57

[2017-04-27 14:32] hmitsch commented on #102
## Electronic version of the above sketch
https://docs.google.com/drawings/d/1cbAXP3-7rFprMr5tUaoGAOcvJBqRpSQlL4gT7OrUTCw/edit

## Screen capture
<img width="975" alt="image" src="https://cloud.githubusercontent.com/assets/869692/25488489/731de662-2b67-11e7-8631-7571840edeb7.png">

[2017-04-27 18:02] tyearns commented on #83
Current status?

[2017-04-27 18:04] andrewkrug commented on #83
Same as 3 days ago.  "Prod version complete in us-west-2"  We'll launch in us-west-2 and grow out to 3 regions.  This needs to stay open and roll over into the next sprint of work.

[2017-04-27 18:15] mbransn commented on #91
[User stories](https://docs.google.com/a/mozilla.com/spreadsheets/d/1bo5Cxi3XkcjpMI0KT8DZoCvJDNFseML0iHlVuCCI9X4/edit?usp=sharing) have been updated following today's meeting.

@andrewkrug @gdestuynder @jdow @akatsoulas @johngian @comzeradd @hmitsch -- can you all take a look and label what is critical + help fill in anything that was missed? Thank you all for coming together to align on this. 😄

[2017-04-27 18:21] mbransn opened #113 "Mozillians.org : Profile Editor UX Iteration"
As follow up to #91 I will make a new iteration of the mozillians.org profile editor wireframes.

This iteration will be based on these [user stories](https://docs.google.com/a/mozilla.com/spreadsheets/d/1bo5Cxi3XkcjpMI0KT8DZoCvJDNFseML0iHlVuCCI9X4/edit?usp=sharing) and evolve from the current version posted here:

![mozillians-user-settings](https://cloud.githubusercontent.com/assets/18686986/254

[2017-04-27 18:22] tyearns commented on #83
Got it.

[2017-04-27 19:04] comzeradd commented on #106
@m-branson yes, that would help. Just to get the alignments/paddings right.

@andrewkrug I guess the 404 page won't require authentication, right? So we would only have the logo on the top bar.

[2017-04-27 19:08] hmitsch opened #114 "User profile synchronization service between CIS and Auth0"
Story conceived in Q2 OKR Grooming Session.

**Acceptance criteria:**
- [x] Synchronization processor
- [x] A user profile in Auth0 matches a user profile in CIS

Note: This story replaces #57.

Size: M (3 days)

[2017-04-27 19:30] gdestuynder commented on #62
Brief/diagram https://docs.google.com/document/d/1eoQ5K3bTCuUYaTGmLtFSdNq-hzXZCRM4Cjuhw1Vv6rI/edit#heading=h.3eafe3kieqsw

[2017-04-27 19:31] mbransn commented on #106
@comzeradd here's the desktop annotation to get you started, mobile will have to wait til tomorrow (though I'm planning to simply stack simplistically in smaller viewports).

Also, [play button icon](https://drive.google.com/open?id=0B0vmiicLLrGuTkZKMFg5bDhVMkE) is in the drive folder.

**Styles:**

![fail-page-styles](https://cloud.githubusercontent.com/assets/18686986/25500798/3aaad87a-2b45-11e7

[2017-04-27 19:32] mbransn commented on #106
If a user is logged in they will still be able to utilize their user menu though, correct?

[2017-04-27 20:01] hmitsch commented on #31
Story declared obsolete in _Q2 OKR Grooming Session_.

[2017-04-27 20:01] #31 closed, assigned to nobody

[2017-04-27 20:01] hmitsch commented on #57
Story declared obsolete in _Q2 OKR Grooming Session_.

[2017-04-27 20:01] #57 closed, assigned to gdestuynder, andrewkrug

[2017-04-27 20:01] hmitsch commented on #5
Story declared obsolete in _Q2 OKR Grooming Session_.

[2017-04-27 20:01] #5 closed, assigned to jdow, gdestuynder

[2017-04-27 20:02] hmitsch commented on #6
Story declared obsolete in _Q2 OKR Grooming Session_.

[2017-04-27 20:02] #6 closed, assigned to nobody

[2017-04-27 20:04] hmitsch opened #115 "CIS=>LDAP Identity driver"
- [x] publish LDAP changes in S3 https://github.com/mozilla-iam/auth0-scripts/tree/master/LDAP/ldap2s3
- [ ] pickup changes / write LDAP CIS publisher
- [ ] Write LDAP CIS validator

[2017-04-27 20:05] hmitsch opened #116 "RP handles group information provided by Auth0"
Story conceived in Q2 OKR Grooming Session.

[2017-04-27 20:08] hmitsch opened #117 "Write user profile to stream (From Mozillians.org)"
Story conceived in Q2 OKR Grooming Session.

Size: M (3 days)

[2017-04-27 20:09] hmitsch opened #118 "Sign message with Mozillians KMS Key"
Story conceived in Q2 OKR Grooming Session.

Size: n/a

Subtast to #117

[2017-04-27 20:14] hmitsch opened #119 "Setup Kinesis input stream"
Story conceived in Q2 OKR Grooming Session.

Size: XS

[2017-04-27 20:15] hmitsch opened #120 "Setup CI"
Story conceived in Q2 OKR Grooming Session.

Size: M (3 days)

[2017-04-27 20:16] hmitsch opened #121 "Stream Processor Identity Vault Connector"
Story conceived in Q2 OKR Grooming Session.

Size: M (3 days)

[2017-04-27 20:17] hmitsch opened #122 "Setup Identity Vault"
Story conceived in Q2 OKR Grooming Session.

Size: S (1 days)

[2017-04-27 20:17] hmitsch opened #123 "Write Stream Processor Identity Driver Connector for Auth0"
Story conceived in Q2 OKR Grooming Session.

Size: M (3 days)

[2017-04-27 20:18] hmitsch opened #124 "Define AWS Monitoring/Metrics"
Story conceived in Q2 OKR Grooming Session.

Size: M (3 days)

Let's update this to be "Define metrics that we want to receive from CIS"

[2017-04-27 20:19] hmitsch commented on #123
DUPLICATE to #114

[2017-04-27 20:19] #123 closed, assigned to nobody

[2017-04-27 20:23] hmitsch commented on #62
In the _Q2 OKR Grooming Session_ this epic was decomposed into:

* #117: Write user profile to stream (From Mozillians.org)
    * #118 Sign message with Mozillians KMS Key
* #119: Setup Kinesis input stream
* #120: Setup CI
* https://github.com/mozilla-iam/cis/issues/7: Write Stream Processor Validator
* #121: Write Stream Processor Identity Vault Connector
* #122: Setup Identity Vault
* #114: Wri

[2017-04-27 20:23] #62 closed, assigned to nobody

[2017-04-27 20:26] hmitsch commented on #102
Results from _Q2 OKR Grooming Session_:

<img width="1422" alt="image" src="https://cloud.githubusercontent.com/assets/869692/25502850/8eaeed28-2b98-11e7-9e85-4dc1d99fd32b.png">

<img width="1500" alt="image" src="https://cloud.githubusercontent.com/assets/869692/25502867/98122e16-2b98-11e7-9677-57d53b96356f.png">

[2017-04-27 20:26] #102 closed, assigned to nobody

[2017-04-27 20:27] hmitsch commented on #102
_Build the model together and throw it away afterwards._

[2017-04-27 20:57] hmitsch commented on #110
@gdestuynder on the current prio of this story:

[2017-04-27 23:08] mbransn commented on #67
Making progress on mozillians.org sign up UI. As this will be hosted on mozillians.org, we are applying mozillians blue (updated brand blue) to the UI and have the mozillians header in view during the sign up process.

In addition to mobile versions of this flow I will continue to work through: UI for form states (hover, active); re-captcha UI; and search states (hover, active).

**Log In / Sign U

[2017-04-27 23:11] mbransn commented on #67
@comzeradd can you remind me how much we can affect the UI for reCAPTCHA? Is it limited or can we affect the basic functionality that we see here?

![photo_2017-04-27_16-00-35](https://cloud.githubusercontent.com/assets/18686986/25508003/301bb9a0-2b64-11e7-9660-0eb7b75ed4bc.jpg)

[2017-04-28 12:01] comzeradd commented on #67
Not much. It just gives you some preset options: Theme (Dark or Light) and Size (Normal, Compact).

What we could do is utilize the new [invisible recaptcha](https://developers.google.com/recaptcha/docs/invisible). We should still account for the regular recaptcha, because machine learning won't have always successful results. But at least the vast majority of our users won't see the recaptcha at

[2017-04-28 14:21] viorelaioia-zz commented on #100
Opened PR: https://github.com/mozilla/mozillians-tests/pull/312

[2017-04-28 16:14] #112 closed, assigned to johngian

[2017-04-28 22:22] mbransn commented on #67
Awesome, invisible recaptcha sounds like a great way to go. I will account for the compact recaptcha V2 size (300x80) in our sign up form though. 👍

[2017-04-28 23:51] tyearns commented on #47
Can this be closed?

[2017-04-28 23:53] mbransn commented on #106
@comzeradd here is the mobile viewport version. Images are [here](https://drive.google.com/open?id=0B0vmiicLLrGuTnVwa3JPRU41U0U) as well.

**Overview:**

![m-fail-page](https://cloud.githubusercontent.com/assets/18686986/25550934/cfd77000-2c32-11e7-8582-41082485a238.png)

**Spacing:**

![m-fail-page-spacing](https://cloud.githubusercontent.com/assets/18686986/25550948/f57aa99e-2c32-11e7-92ee-25b8c

[2017-05-01 15:17] #103 closed, assigned to comzeradd

[2017-05-01 15:19] comzeradd commented on #109
Implemented at [471eb0e](https://github.com/mozilla-iam/sso-dashboard/commit/09b7774bb32d201974988cceb75aa32d6471eb0e)

[2017-05-01 15:19] #109 closed, assigned to mbransn

[2017-05-01 16:28] mbransn commented on #109
This looks great @comzeradd 👍

[2017-05-01 16:32] mbransn commented on #103
Looks like the 'Recently used' section is the only thing that didn't make it. 👍 @comzeradd @andrewkrug should we open a backlog issue for that future implentation?

[2017-05-01 16:33] andrewkrug commented on #103
@m-branson please do.  This could take on a bunch of different forms but it's definitely a backlog feature.

[2017-05-01 17:45] mbransn commented on #103
@andrewkrug [done](https://github.com/mozilla-iam/sso-dashboard/issues/92).

[2017-05-01 23:23] mbransn commented on #96
@andrewkrug @hmitsch -- Initial iterations for notification/alert styling are ready for perusal. I have not yet worked through a notification center page, but have it in mind for next sprint.

Banners accounted for are alert, success and general security. A menu badge and notification counter are also represented here. When a user selects 'more info' ideally they will be routed to the notification

[2017-05-01 23:27] #106 closed, assigned to comzeradd

[2017-05-01 23:38] andrewkrug commented on #83
This has been broken apart into region specific and roles.

[2017-05-01 23:38] #83 closed, assigned to andrewkrug

[2017-05-01 23:41] andrewkrug commented on #23
Production goes live tomorrow

[2017-05-02 10:30] viorelaioia-zz commented on #100
Pull request is merged

[2017-05-02 15:25] aminalhazwani commented on #103
The icons are quite big and they make the page overflow even on big screen. I am wondering if it would be possible to increase the information density of the dashboard by reducing the size of this component. Also having a list instead of a grid would make the dashboard much easier to scan and read. 👋

[2017-05-02 15:59] mbransn commented on #103
👋 @aminalhazwani thanks for the feedback, super appreciated! As this is the first iteration of the new dashboard, I'm sure we'll be refining as the weeks go on. (I too feel that the apps are a bit large at the moment, something I plan to work on with @comzeradd 😊)

Can you do us a favor and [add your feedback here](https://discourse.mozilla-community.org/c/iam/dashboard)? This is the Discourse hom

[2017-05-02 18:31] mbransn opened #125 "Mozillians.org Brand/Sign Up Iteration"
As follow up to #67:

- [x] Iterate on current design progress of Mozillians.org Sign Up UI.
- [x] Prep Mozillians.org Brand and Sign Up UI for implementation.

[2017-05-02 18:32] mbransn commented on #67
Closing, continuing iteration and prep for implementation in #125 during Sprint 7.

[2017-05-02 18:32] #67 closed, assigned to mbransn

[2017-05-02 18:34] mbransn commented on #91
Closing, work will continue as UX v2 in #113 during Sprint 7.

[2017-05-02 18:34] #91 closed, assigned to mbransn

[2017-05-02 22:28] gdestuynder opened #126 "Run access-proxy in front of sso-dashboard for session support"
See https://github.com/mozilla-iam/sso-dashboard/issues/107
Setting andrew as main assignee on this card, but  i'm also assigned on the sub card since i'll help with that as much as possible

[2017-05-03 09:56] hmitsch opened #127 "Sprint 7 Goal"
## Prioritized Themes
### Summary

1. [AUTH0 DASHBOARD] Post-launch: _The Cursed Trinity_
1. [RP Cutover] Migrate sprint 7 batch
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _A user profile goes into the Stream is validated and versioned in a persistent storage_
1. [MOZILLIANS.ORG]: _Product maintenance to prepare infrastructure migrati

[2017-05-03 13:17] viorelaioia-zz opened #128 "Configure session testing tests to run in parsys jenkins instance"

[2017-05-03 14:59] gene1wood commented on #79
I've gotten the server side working for both the OIDC interface and the Duo backend! I'm now working on the Lua code for the nginx client side which will act as a reference architecture for RPs that want to use this system. This Lua code needs to authenticate to Auth0, get back authentication and authorization data, then pass the authentication data (the user's email) on to a second OIDC call to s

[2017-05-03 15:18] gdestuynder commented on #104
tihs has been merged thanks @zandbelt !

[2017-05-03 15:19] #104 closed, assigned to nobody

[2017-05-03 22:48] gdestuynder commented on #110
havent had more demand for it yet

[2017-05-04 09:08] comzeradd commented on #96
These look great!

One minor comment is that that most people (especially non-OSX users) are used to have the 'close' button on the right side, on windows, alerts, etc. But I get that we also we want to emphasize the call to action.

[2017-05-04 15:10] mbransn commented on #96
Thanks @comzeradd that's great to point out. I did play with the 'close' next to the 'more info' CTA, though things felt congested? I'll give it another go and also try moving 'close' to the end of the alert text.

@andrewkrug I'm curious re: the functionality of the notification center (navigated to via 'notifications' in the user menu). In the user stories we're calling out user acknowledgement

[2017-05-04 15:48] andrewkrug commented on #96
@m-branson I like this but there's a few things I want to clarify about our alert use cases and maybe that will clear things up.  I think maybe we're (InfoSec) also guilty of not thinking the entire alert thing through here and scoping our feature set for this initial alert center release.  I'm going to try and define that.

I think this is a good base to use and I like the highlight colors.  I ju

[2017-05-04 17:01] jeffbryner commented on #96
May need to sync on the levels? @gdestuynder

[2017-05-04 17:22] gdestuynder commented on #40
this also requires moving airmo and TC to hosted lock

[2017-05-04 17:23] gdestuynder commented on #40
we re-had this discussion today as well during tech alignment, output:

[2017-05-04 18:10] mbransn commented on #96
@andrewkrug this is super helpful! Thank you!

Question re: alert severity and UI coloring -- can _High Level_ and _High Level Alert_ both be considered a 'red' level alert? Here's what I'm thinking so far:

- Information : black
- Warning : orange
- High Security : red
- High Security Alert : red
- Success : green _(shows when no user action is required other than observation, e.g. new app access

[2017-05-04 18:14] tyearns commented on #78
Shall we rename this story Phase 2, and make reference to the remaining open issues at: https://github.com/mozilla-iam/sso-dashboard/issues

[2017-05-04 18:24] tyearns opened #129 "Perform RP Cutovers to Auth0 SSO"
Execute the IAM SSO Property Migration Plan in accordance with the following groups:
   - [x] #130 Group 0 - Stage and Dev instances that are managed by IT or InfoSec
   - [ ] #131 Group 1 - Managed within IT (InfoSec, WebOps)
   - [x] #132 Group 2 - Vendor support required, high visibility/risk
   - [ ] #133 Group 3 - Cutover coordinated independently

Cutovers may be verified using the following

[2017-05-04 18:29] tyearns opened #130 "RP Cutover to Auth0 SSO - Group 0"
Transition the following RP's to Auth0 SSO:
   - [x] ServiceNow - Test
   - [x] ServiceNow - Dev
   - [x] ServiceNow - Upgrade
   - [x] Risk Heat Map (Dev)
   - [x] Phonebook Stage
   - [x] Phonebook Dev
   - [x] Securitywiki-stage
   - [x] Google Apps (test.mozilla.com)
   - [x] Google Apps (allizom)

Cutovers may be verified using the following URL: https://github.com/mozilla-iam/sso-dashboard-c

[2017-05-04 19:16] tyearns opened #131 "RP Cutover to Auth0 SSO - Group 1"
Transition the following RP's to Auth0 SSO:
   - [x] Mana
   - [x] Phonebook
   - [x] Intranet
   - [x] Risk Heat Map
   - [x] Securitywiki
   - [x] PHPLDAPAdmin
   - [x] ASAP (AWS Security Auditing Platform)
   - [x] PTO-stage
   - [x] Intranet-stage

Cutovers may be verified using the following URL: https://github.com/mozilla-iam/sso-dashboard-configuration/blob/master/apps.yml
   * Search in th

[2017-05-04 19:40] tyearns commented on #58
@jdow  @andrewkrug should we put together overview of what's involved for each of the RP owners prior to initiating Group 1 cut-overs? I think I should craft some kind of announcement to assist with coordinating as needed.

[2017-05-04 19:54] jeffbryner commented on #96
FWIW: Here's our current standard levels/colors for other systems. May not directly translate to the dashboard given the branding, but might at least help with terms:
https://wiki.mozilla.org/Security/Standard_Levels

[2017-05-04 20:04] tyearns opened #132 "RP Cutover to Auth0 SSO - Group 2"
Transition the following RP's to Auth0 SSO:
   - [x] Google Apps (mozilla.com)
   - [x] The Hub
   - [x] Egencia

Cutovers may be verified using the following URL: https://github.com/mozilla-iam/sso-dashboard-configuration/blob/master/apps.yml
   * Search in the page for "op: auth0" to locate the apps that have successfully been cutover

[2017-05-04 20:09] tyearns opened #133 "RP Cutover to Auth0 SSO - Group 3"
Transition the following RP's to Auth0 SSO:
   - [x] Workday
   - [x] IRCCloud
   - [x] O365
   - [x] Greenhouse
   - [x] TaskCluster
   - [x] Mozilla Data Collective
   - [x] Smartsheet
   - [x] StatusPage
   - [x] PlanSource Benefits
   - [x] Tableau (dataviz.mozilla.org)
   - [x] Tableau (dataviz-test.allizom.org)
   - [x] Workday (2)

Cutovers may be verified using the following URL: https://g

[2017-05-04 21:20] mbransn commented on #96
Thanks @jeffbryner that is helpful and raises another question, do we need a 'success' banner at all? Or would an alert like _new app access granted_ simply fall into the 'low risk' category?

@andrewkrug @gdestuynder let me know when you get the levels ironed and I'll take colors from there. 👍

[2017-05-04 21:23] mbransn commented on #96
I suppose this is also a good time to clarify that while we're looking at 'alerts' in this ask, we are also looking at 'notifications' in general. So this makes me believe that, yes, accounting for a success/error banner state as well is helpful. Not all notifications will be alerts.

[2017-05-04 21:59] jeffbryner commented on #96
Yeah, a success banner makes sense to me for positive notifications.

[2017-05-06 00:12] gdestuynder commented on #96
I made a PR for this at https://github.com/mozilla-iam/sso-dashboard/pull/123
The color, names and risk definitions are standardized and have been reviewed countless times.

Note that it's possible to not use the standard colors as long as they don't deviate too much (ie blue should be blue, yellow should be yellow, but they do not need to be the exact yellow used by the standard if it causes UI c

[2017-05-08 08:30] hmitsch commented on #40
Hi @gdestuynder,

thanks for the write-up from last week. ParSys can probably help moving AirMo to the hosted lock. We will look into that in the next couple of sprints.

On the #iam IRC channel there seems to be a longer conversation with Dustin. I think he is working on taskcluster. Does this mean that we also have a migration path in sight there?

Best regards,
   Henrik

[2017-05-08 17:08] mbransn commented on #96
Thanks @gdestuynder! This is what I needed to see, appreciate the point toward security/standard levels. I'll align the banner UI colors with the standard, but do plan to account for the new brand in the color selection (e.g. blue will be a new Mozilla blue). And agreed, it makes sense to use LOW risk alerts for all non-security/risk-zero/general info type alerts.

[2017-05-08 20:37] gdestuynder commented on #40
For taskcluster I think so but I do not know what his timeline is, @djmitche

[2017-05-08 20:48] djmitche commented on #40
I believe the hosted lock still does not support passwordless login as the only option, which is what we are using.

The next step for TC is to act as an auth0 API, but that is awaiting the new profile (so, probably to be worked on during Q3).

[2017-05-08 22:58] mbransn commented on #96
@andrewkrug @gdestuynder @jeffbryner @comzeradd @hmitsch -- Notifications have been updated to align with the [security/standard levels](https://wiki.mozilla.org/Security/Standard_Levels), this includes: alert levels, colors and user actions.

For high- and max-risk alerts, users must choose to engage with the banner as they do not have a dismiss 'x'. The medium-/low-risk alerts and the success me

[2017-05-08 23:14] gdestuynder commented on #96
_/me thinks this looks neat._
Note: we should probably not have "From mozdef" as part of the msg (even thus it is probably from mozdef :)

Note, maybe we want to come up with some realistic alerts scenarios that will help fine tune the UX, for example:

Another one:

Another one:

^^ I'm assuming maximum risk alerts will never have a "dont remind me" and will be also investigated regardless by us

[2017-05-09 13:20] viorelaioia-zz commented on #128
Created and configured a job for session testing in parsys Jenkins instance: https://jenkins.services.mozilla.community/job/session-testing/

[2017-05-09 14:54] jeffbryner commented on #96
Love it! Might be worth someway for the user to enter some optional text for the max risk items?

The 'faster than lightening/superman' scenario is a good one to play with.

We do have folks that occasionally use tor/vpn that will appear to have moved around the globe. So they could dismiss and note that they are a tor user.

If they didn't actually switch countries and don't use vpn/tor, they cou

[2017-05-09 15:39] andrewkrug commented on #96
I think we've nailed the "look" overall.  Do you think we should draw some clear lines about what the alert center looks like in Release 1.0 ( no user customization etc ) and really scope that.  It feels a little like we're trying to design all the features at once.  We could likely accept this story as is and build out alert functionality with what exists in the above mock ups.

[2017-05-09 15:41] andrewkrug commented on #96
Also do we want someone to be able to suppress an alert forever?  Seems like if we have alerts that are high false positives they should report the false positive and we should fix the alert rather than have a suppression feature.  Suggest button like ( Was this relevant ) or something to collect that data prior to deciding on alert suppression.

[2017-05-09 16:11] mbransn commented on #96
@gdestuynder @jeffbryner @andrewkrug thank you for feedback, glad this is sparking good conversation re: functionality! I agree with Andrew re: nail down the scope for Release 1.0 and identify enhancements for future releases.

At a baseline this UI will work for all of the instances that you've outlined @gdestuynder --- from a UX perspective if users are going to be given multiple ack/nack option

[2017-05-09 16:30] jeffbryner commented on #96
Yup, agreed on starting small (we've a lot to build just to get alerts to the dashboard) and focus on the base UI.

Agree with the info entry field appearing after choosing a path, good point!

[2017-05-09 16:58] pwnbus commented on #96
@jeffbryner For the mozdef feedback part, we have I think 2 options here if the user selects "no, this wasn't me":
1. The SSO dashboard is the one who performs the escalation/action without sending any feedback info to mozdef. This would be less moving parts since there wouldn't be a feedback loop to MozDef, but IMO, would be mixing a SIEM functionality into the SSO.

2. The dashboard would talk b

[2017-05-09 17:22] jeffbryner commented on #96
Yeah, I think the feedback needs to go to mozdef for proper handling/recording/history/etc. Integration shouldn't be that big of a deal using SNS/SQS to mediate the messages.

[2017-05-09 17:28] andrewkrug commented on #96
@jeffbryner You have described something very similar to how I planned to do this integration with MozDef

[2017-05-09 17:45] pwnbus commented on #96
@jeffbryner @andrewkrug Works for me

[2017-05-09 19:34] jeffbryner commented on #96
Also, @m-branson  was reminded from another conversation of the need to potentially prompt for MFA verification (DUO push, or enter 6 digit code) for some alerts which may affect the UX. Probably just the highest severity.

[2017-05-09 21:32] mbransn commented on #96
@jeffbryner good to know, will MFA be triggered after acknowledgement in those instances?

Also, who is owning/writing the functionality scope for this feature? Ideally we get this outlined so that the UI is dialed accordingly by end of this sprint. (Would love to hand off to @comzeradd for implementation next sprint.)

[2017-05-09 22:28] gdestuynder commented on #96
Regarding the "dont remind me" feature I just remember several companies who implemented this saying it was key to success - even thus these still come up, otherwise user fatigue occurs very quickly.
Say user X logs in 10 times today to a sensitive server, and another 10 times in 2 days, he's going to get 10 msgs then 10 msgs again, then probably buy weapons of mass destruction and visit us ;p

Th

[2017-05-09 22:35] andrewkrug commented on #96
@gdestuynder sounds like you could solve this issue with batching and rate limiting.  I agree with this statement 👍

Can we do de-dupe at some point or something.

[2017-05-10 00:47] mbransn commented on #125
Sharing a further iteration of the sign up UI for what is currently Mozillians.org. In this version we move away from highlighting this experience as 'Mozillians' and focus instead on a single sign up portal that aligns with the new brand (and the SSO experience).

Will be talking this iteration through with the ParSys team tomorrow. Ideally we will identify next steps for brand alignment + new si

[2017-05-10 17:31] andrewkrug commented on #126
Code cleanup and refactor to prep for this: https://github.com/mozilla-iam/sso-dashboard/pull/127

[2017-05-10 17:34] gdestuynder commented on #110
there is now demand  - https://github.com/mozilla-services/foxsec/issues/288#issuecomment-300520569

[2017-05-10 17:35] hmitsch commented on #96
Hi @andrewkrug @jeffbryner @gdestuynder,
Hey @m-branson,

I have a very naive question. Please be patient with me.

In my mental model there are two _notions_ of security alerts:
* **Non-profile** alerts: based on things such as browser version, IP address, etc.
* **Profile-based** alerts: based on a person's profile attributes, such as 'last login', application xyz added, etc.

At this moment the

[2017-05-10 18:06] mbransn commented on #96
@andrewkrug based on the IAM chat + @hmitsch's thoughts above, can you update the [alert center doc](https://github.com/mozilla-iam/sso-dashboard/blob/master/docs/alert-center.md) to reflect functional scope for an initial release?

[2017-05-10 18:11] gdestuynder commented on #96
@hmistch I think what you call _non profile alerts_ are what we would usually categorize as **low** and **medium** **risk** alerts. We base the alerts primarily on risk rather than how they're generated.
I think it makes sense to scope v1 to low and medium risk alerts, ie _non profile alerts,_ ie "yes" :)

Note: the dashboard does not and will most likely not communicate directly with mozillians.o

[2017-05-10 23:06] hmitsch commented on #96
@gdestuynder thank you for the clarification on the technical architecture. Sounds all very reasonable!
Also thanks for confirming the scope proposal. Let's work towards these _non-profile alerts_ (aka _low and medium risk alerts_).

[2017-05-10 23:25] mbransn opened #134 "Profile Editor UI Design"
Design UI for the updated Profile Editor experience (#113).

[2017-05-10 23:28] mbransn opened #135 "Log In UI Design"
Design UI to align the Auth0 Lock with the new brand, SSO and [sign up](#125) experiences.

[2017-05-11 08:50] johngian commented on #118
This is partially implemented here:
https://github.com/mozilla-iam/cis/pull/9

What the merged code does is the heavy-lifting of the encryption/decryption process of the messages. CIS publishers just need to import this and encrypt their payload.

[2017-05-11 16:59] andrewkrug opened #136 "Create ansible role to deploy access proxy and publish publicly."
In order to complete the task of moving the sso-dashboard to using the access proxy we will need an ansible role that stands up the access proxy to be incorporated with ansible container.
- [x] create container
- [ ] split container

[2017-05-11 17:00] andrewkrug commented on #126
Blocked by https://github.com/mozilla/iam-project-backlog/issues/136

[2017-05-11 17:02] andrewkrug opened #137 "Move sso-dashboard ansible-container to v2 of ansible-container"
Seems we already have a tiny bit of technical debt in this project.  In order to use ansible-roles to build the access proxy the format of the container.yml will need to move to ansible's v2 format for this.

This also means that the container.yml and playbooks will have to move to role format for the "dashboard" itself.

[2017-05-11 17:03] andrewkrug commented on #126
Blocked by https://github.com/mozilla/iam-project-backlog/issues/137

[2017-05-11 17:16] andrewkrug commented on #136
@gdestuynder I am capturing this here in an issue because I know we need to take the role alm built and move it to a container.

[2017-05-11 17:49] andrewkrug commented on #118
@gdestuynder propose moving forward with encryption only to close this story and adding signing in sprint 8. ( Open a new story to describe signing the way we want )

[2017-05-11 17:50] andrewkrug commented on #119
Cloudformation stack template is complete for building this.

[2017-05-11 17:51] andrewkrug commented on #120
Currently blocked while we decide on IAM grants for devs.

[2017-05-11 17:51] andrewkrug commented on #120
See: https://github.com/mozilla-iam/cis/issues/5

[2017-05-11 17:52] andrewkrug commented on #124
Updated to be more specific in scope.

[2017-05-11 17:58] andrewkrug commented on #23
@hmitsch

When do we consider this card to have reached MVP?  I know for example we will not have this feature for all hands:

#98 SSO Dashboard Favorite Apps - UI Design

Should we remove it so we can define the working release as done?

[2017-05-11 17:59] andrewkrug commented on #23
Also updated #65 as it was marked done.

[2017-05-11 18:03] andrewkrug commented on #122
Concept is solidified for a prototype of what the identity vault looks like.  Cloudformation is done to deploy this wherever it's going to land.  Can mark this as done.

[2017-05-11 18:04] andrewkrug commented on #119
Similar to identity vault can mark this as done.

[2017-05-11 18:04] andrewkrug opened #138 "Backup Identity Vault"
Capturing this as a story for future andrew.  We need to figure out a DR strategy for DynamoDB aka the Identity Vault.
- [ ] add cloudtrail event

[2017-05-11 19:01] gdestuynder opened #139 "flask oidc with session support"
More RP's require a flask library for OIDC support.
Currently the libraries are not great
the goal of this issue is to implement session support to a flash library for everyone to use, the current selected library is ~~~https://github.com/puiterwijk/flask-oidc~~~ https://github.com/zamzterz/flask-pyoidc

cc @andrewkrug

[2017-05-11 19:17] purelogiq commented on #139
https://github.com/zamzterz/flask-pyoidc actually looks like a very nice library as well and it seems to have more traction.

[2017-05-11 19:24] gdestuynder commented on #139
https://github.com/puiterwijk/flask-oidc seems "cleaner" but I'd use whichever works for you :)

[2017-05-11 23:17] mbransn commented on #125
Updated to include search in the global nav-bar + small syntax edits. Mobile screens included as well.

**Log In / Sign Up screen**

![login-signup](https://cloud.githubusercontent.com/assets/18686986/25975651/7d4a53f2-3664-11e7-8745-b3787824c614.jpg)

---

**Sign Up Email Confirm**

![signup-email-confirm](https://cloud.githubusercontent.com/assets/18686986/25975654/82f5a31a-3664-11e7-9587-e9ad94

[2017-05-12 00:21] mbransn opened #140 "Implement Sign Up UI"
Hey @comzeradd -- Sign Up UI (#125) is ready for initial implementation.

- Screens are available for spacing/sizing/style reference on g-drive [here](https://drive.google.com/open?id=0B0vmiicLLrGuRVZ1LU1XTWlvRGs).
- Icon assets are [here](https://drive.google.com/open?id=0B0vmiicLLrGuOUJGMXpFcDJ2R1k).

![login-signup](https://cloud.githubusercontent.com/assets/18686986/25976866/781139ac-366c-11e7

[2017-05-12 15:08] hmitsch commented on #23
@andrewkrug yes, lets remove the open things and make sure they are in the backlog. This issue should definitely be closed. Thank you!

[2017-05-12 15:17] andrewkrug commented on #23
Removed 96, 97, and 98 from this card.  Alert/UI was in progress.  @hmitsch All other items are in fact in backlog.

[2017-05-12 15:33] hmitsch commented on #23
Thank you!
--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-05-15 17:41] gdestuynder opened #141 "Enable GitHub request for read:user scope in production which allows to see if the user has 2FA enabled"
When enabled this will prompt the users using github for a new authorization: read-only access to your private profile.
It needs to be enabled before we can require MFA for GitHub accounts

[2017-05-15 17:44] gdestuynder commented on #141
@gene1wood @hmitsch @m-branson

This is a user-impacting change (GitHub users will see a new request for authorization), so looking for some comments - though I'd vote to just do it.

If you're curious how it looks like just login with github to https://social-ldap-pwless.testrp.security.allizom.org/

[2017-05-15 21:11] mbransn commented on #141
@gdestuynder The impact was light and much as expected, I'm good with implementing.

[2017-05-15 23:02] mbransn commented on #125
Closing, desktop and mobile UI implementation has been requested via #140.

[2017-05-15 23:02] #125 closed, assigned to mbransn

[2017-05-16 00:28] gdestuynder commented on #139
Due to demand within infosec, support added in https://github.com/gdestuynder/Flask-pyoidc - however, while function, i noticed this also needs to pass over the id token exp. so this is not finished

see also https://github.com/mozilla-iam/Flask-pyoidc/pull/1
=> also added to sprint 8 target

[2017-05-16 00:38] gdestuynder commented on #118
its already merged/coded anyway - but if we close this issue (#118) we'll have to open one to do this better/differently so that we can verify the validity of the change end-to-end.
this allows us for a bit more freedom in how we do CIS since it provides a high level security layer (if we implement it end-to-end that is)

[2017-05-16 00:47] mbransn commented on #96
Implementation of low- and med-risk UI has been requested via the SSO repo [(#130)](https://github.com/mozilla-iam/sso-dashboard/issues/130). Closing this issue.

[2017-05-16 00:47] #96 closed, assigned to andrewkrug, mbransn

[2017-05-16 03:53] andrewkrug commented on #127
@hmitsch  just noticed this for sso-dashboard never had an issue. (enhancement) check the configuration repo.  Do you know who's issue this is and what it means?

[2017-05-16 04:11] andrewkrug commented on #141
@gdestuynder how many users do we have that don't have MFA in our ORG?

[2017-05-16 04:11] andrewkrug commented on #124
These have been defined in story cards now.

[2017-05-16 04:12] andrewkrug commented on #120
No longer blocked but still needs done.

[2017-05-16 08:51] hmitsch commented on #141
@gdestuynder I'd also go for it. Maybe a short notice on the Slack #announcements channel to inform people about the user-impacting change?

[2017-05-16 08:58] hmitsch commented on #127
@andrewkrug yes, I hope I can explain.

You ask about the following acceptance criteria line:

It means we should check these issues: https://github.com/mozilla-iam/sso-dashboard-configuration/issues and see if we can get stuff done.

May I suggest you have a look at the issues and we then decide if any of these is important enough to add it to the next sprint?

[2017-05-16 10:09] hmitsch opened #142 "Sprint 8 Goal"
## Prioritized Themes
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _Manually push data to the queue, validate and store to DynamoDB_
1. [MOZILLIANS.ORG]: _Finish the hardening/upgrade work_ (get all open issues closed)

### Details
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)):

[2017-05-16 15:14] gdestuynder commented on #141
and/or to the iam public mailinglist i'd say

[2017-05-16 16:22] gdestuynder opened #143 "Fix not24get to use libpasswordquality (OpenLDAP req)"
this is require to be able to upgrade openldap/run centos7
cc @jdow

[2017-05-16 16:23] gdestuynder opened #144 "Include SCM levels (posix groups) in LDAP data sent as groups to auth0"
This blocks some RPs from moving over to auth0

Note: we might also want svn groups while at it?

[2017-05-16 16:37] gdestuynder commented on #144
Note: should care for expiration settings on these if we do that

[2017-05-16 17:19] gdestuynder commented on #144
@indygreg do you think this makes sense to send these groups?
Note that we can either just send them, or only send them if the access attribute says its not expired.

I'm asking you as hg is the primary user of them (and we thought, initially, the only user)

[2017-05-16 17:24] jdow commented on #144
There are some issues around this that need special consideration. I'll outline them here.

Regular groups are known as groupOfNames groups (i.e. their structure objectClass is groupOfNames). These groups reference a DN attribute of a member.

Posix Groups (objectClass=posixGroup) on the other hand reference a uid attribute of a user.

SCM groups are a non-standard mozilla-only implementation. The

[2017-05-16 18:06] gdestuynder commented on #143
this became more urgent so i picked it up even thus sprint starts tomorrow.

See also https://github.com/tomato42/not24get/pull/1

[2017-05-16 20:02] gdestuynder commented on #143
this is done - artefact is unlinkable in puppet though :)
@jdow did deploy and review work in puppet

[2017-05-16 20:02] #143 closed, assigned to gdestuynder

[2017-05-16 23:19] gdestuynder commented on #139
also done this ahead of time
currently set for review

[2017-05-17 01:07] mbransn commented on #113
Sharing an updated version of the profile editor wireframes, will provide a version with annotation tomorrow. The annotated version will better outline and track visual expectations for functionality prior to eventual UI design & implementation.

As always, please leave feedback/comments/questions. 👍

![mozillians-user-settings](https://cloud.githubusercontent.com/assets/18686986/26213239/29e38be0

[2017-05-17 13:16] viorelaioia-zz opened #145 "Get client id + client secret for auth0 prod"

[2017-05-17 13:18] viorelaioia-zz opened #146 "Report which RPs - prod version - are using silent authentication or delegation endpoint"

[2017-05-17 13:20] viorelaioia-zz opened #147 "Implement a session testing solution for RPs that use delegation endpoint"

[2017-05-17 16:03] hmitsch commented on #141
@gdestuynder ha, excellent point ... what is the "IAM Public Mailinglist" at this point?

I currently know of these lists:
- **iam-dev@mozilla.com:** Some kind of internal (?) mailing list? By the way, I think we wanted to transition this one to Discourse. Could be an opportunity to merge it with the item mentioned below.
- **iam@mozilla-community.org:** Discourse powered, public list.
- **iam+int

[2017-05-17 16:16] #127 closed, assigned to nobody

[2017-05-17 16:17] #65 closed, assigned to nobody

[2017-05-17 16:17] #128 closed, assigned to viorelaioia-zz

[2017-05-17 22:42] gdestuynder commented on #141
it looks like we could merge many of these
iam-dev @mozilla.com can redirect to iam+internal@mozilla-community.org
mozilla.dev.identity could go to iam@mozilla-community.org or does it have to stay separated?

[2017-05-17 23:59] mbransn commented on #113
Annotated version of updated profile editor wireframes attached below.

This updated version aligns with the [user stories](https://docs.google.com/a/mozilla.com/spreadsheets/d/1bo5Cxi3XkcjpMI0KT8DZoCvJDNFseML0iHlVuCCI9X4/edit?usp=sharing) and review discussions had during tech alignment.

![mozillians-user-settings-annotated](https://cloud.githubusercontent.com/assets/18686986/26213222/17f9f270-3

[2017-05-18 00:01] mbransn opened #148 "Profile Editor: UI Design"
Design profile editor UI based on latest version of wireframes from #113.

UX files on drive [here](https://drive.google.com/open?id=0B0vmiicLLrGuMEtsd24wUmhZRW8). Clickable [wireframes](https://invis.io/EZAG0YN86#/227603633_mozillians-User-Settings).

[2017-05-18 00:04] mbransn commented on #113
Closing, UX files on drive [here](https://drive.google.com/open?id=0B0vmiicLLrGuMEtsd24wUmhZRW8). Clickable [wireframes](https://invis.io/EZAG0YN86#/227603633_mozillians-User-Settings).

Next step: UI Design #148.

[2017-05-18 00:04] #113 closed, assigned to mbransn

[2017-05-18 13:33] purelogiq commented on #144
Thanks @jdow! I'm going to talk to my team to see how this affects us and if we will go with your cron job idea or rethink how we're using scm levels.

(To give you some background, we're moving the 'click to autoland' feature out of MozReview and into a new service which we hoped to rely soley on Auth0 for. scm_levels were our plan for determining whether a user can land code or not, and that is

[2017-05-18 16:41] purelogiq commented on #144
Hi @jdow, I talked with the team and it sounds like your plan will work for us.

In our case we are just checking to see if the, for example, the user has ever been approved for scm_level_3 - even if their direct push access has expired (since in our case a user logging in via Auth0 is confirmation that they are still active, and since using autoland doesn't refresh the 6 month expiration we assum

[2017-05-18 18:59] #122 closed, assigned to nobody

[2017-05-18 19:23] hmitsch opened #149 "Consolidate IAM Mailing Lists and Communication Channels"
(Moving conversation from #141 to this separate issue)

Question: What is the "IAM Public Mailinglist" at this point?
Bonus question: Which IAM mailing lists / communication channels do we have?

@hmitsch listed:

@gdestuynder replied:

[2017-05-18 19:25] hmitsch commented on #141
Sorry for hijacking the conversation. I created a separate issue for mailing lists (#149).

[2017-05-18 19:30] hmitsch commented on #149
Remember, in early March we also discussed to re-purpose the IAM-DEV Mailing List: https://docs.google.com/a/mozilla.com/forms/d/1rxQTLPn04Qce_xKACFDCcEtGwnBGtXFMJejxL0n3rdc/edit

The result was:
<img width="682" alt="image" src="https://cloud.githubusercontent.com/assets/869692/26219957/26917b8c-3c11-11e7-93af-e84d3b587730.png">

**Conclusion:** Moving IAM-DEV to Discourse is a viable option.

[2017-05-18 19:41] hmitsch commented on #149
Here is my suggestion:

**iam-dev@mozilla.com & mozilla.dev.identity should be merged with iam@mozilla-community.org.**

Consequences and implications:
- This would make the IAM-DEV list a Discourse powered, **public** list.
- This would be the go-to place for RP owners to find help with RP-specific IAM implementation questions.
- It would also be the place where public announcements from the [IAM

[2017-05-18 21:46] MichaelKohler commented on #149
While I'm not involved in that project, I think that having one internal channel is enough. I think it should either be iam+internal on Discourse or the iam-dev list on the mailing list platform. I don't think it should be both, just to make it more clear in terms of communication channels. Both would be internal and basically would serve the same purpose.

I think Henrik's proposal makes sense in

[2017-05-18 22:42] gdestuynder commented on #139
PR'd upstream https://github.com/zamzterz/Flask-pyoidc/pull/17

[2017-05-19 20:52] indygreg commented on #144
CC @globau

I think some kind of "federation" between SCM group membership and auth0 is needed because right now our mechanism for trying to associate LDAP accounts to say BMO accounts or GitHub accounts is... complicated and a PITA. But as @jdow says, the group membership is kinda wonky because it... isn't just about group membership: there's also an active bit. But I don't think anything outside

[2017-05-19 20:59] gdestuynder commented on #149
https://github.com/mozilla/iam-project-backlog/issues/149#issuecomment-302520062 <= r+

end scenario summary:
* iam@mozilla-community.org. (public, default)
* iam+internal@mozilla-community.org  (not public)

[2017-05-19 20:59] gdestuynder commented on #141
lets depend this on #149 and I'll switch over when #149 is closed/done

[2017-05-25 14:55] viorelaioia-zz commented on #145
I received the credentials by email from Kang.

[2017-05-30 06:40] viorelaioia-zz commented on #147
Flow for  flow for session handling check of RPs that use delegation endpoint (example for mozillians.org):

1. Navigate to mozillians.org
2. Login with LDAP
3. Call the API "GET https://auth.mozilla.auth0.com/api/v2/users/{username}/logs" and keep the value of Date attribute
4. After logging in, stay on homepage for 15 minutes
5. After 15 minutes, refresh the page
6. Call the API "GET https://aut

[2017-05-30 06:40] viorelaioia-zz commented on #147
Opened PR: https://github.com/viorelaioia/RPs-session-testing/pull/5. @johngian , can you please take a look over the pull request? Thanks!

[2017-05-30 07:12] viorelaioia-zz commented on #146
List of Mozilla RPs that use ldap login (in auth0 prod): https://docs.google.com/spreadsheets/d/1aZSTvjdu_oHwAU7P5Mus5Pld8CSCPA1m3NLSX-rISt4/edit#gid=0

From a total of 24 RPs (auth0 prod, LDAP login), 9 of them are using delegation endpoint, 0 are using silent authentication and 11 don't use either silent authentication or delegation endpoint.

[2017-05-30 14:49] gene1wood commented on #79
I completed a first successful end to end test last week with the new Nginx Lua client code. This includes
* user browses to [Nginx Lua reverse proxy RP](https://github.com/mozilla-iam/testrp.security.allizom.org/tree/master/webserver_configurations/OpenID_Connect/Nginx)
* RP redirects the user to auth0
* user authenticates to auth0 and duo and is sent back to the RP
* RP redirects the user to sec

[2017-05-31 12:35] hmitsch opened #150 "Sprint 9 Goal"
# DRAFT

## Prioritized Themes
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _Manually push data to the queue, validate and store to DynamoDB_
1. [MOZILLIANS.ORG]: _Finish the hardening/upgrade work_ (get all open issues closed)

### Details
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/

[2017-05-31 12:37] hmitsch opened #151 "Sprint 9 Goal"
# DRAFT

## Prioritized Themes
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _Manually push data to the queue, validate and store to DynamoDB_
1. [MOZILLIANS.ORG]: _Finish the hardening/upgrade work_ (get all open issues closed)

### Details
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/

[2017-05-31 13:21] hmitsch opened #152 "Sprint 9 Goal"
## Prioritized Themes
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _Manually push data to the queue, validate and store to DynamoDB_
1. [MOZILLIANS.ORG]: _Staging environment successfully migrated_

### Details
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _Manually push data

[2017-05-31 13:34] hmitsch commented on #151
Duplicate to https://github.com/mozilla/iam-project-backlog/issues/152 due to Github outage/hiccup.

[2017-05-31 13:34] #151 closed, assigned to nobody

[2017-05-31 13:34] hmitsch commented on #150
Duplicate to https://github.com/mozilla/iam-project-backlog/issues/152 due to Github outage/hiccup.

[2017-05-31 13:34] #150 closed, assigned to nobody

[2017-05-31 14:25] andrewkrug commented on #117
Implemented in CIS Library but untested in cis_functions

[2017-05-31 17:56] #142 closed, assigned to nobody

[2017-05-31 17:56] #145 closed, assigned to viorelaioia-zz

[2017-05-31 17:56] #146 closed, assigned to viorelaioia-zz

[2017-05-31 18:19] #124 closed, assigned to nobody

[2017-06-01 16:46] gdestuynder commented on #35
we noticed today that this is an issue with discourse for example, as 2  accounts (eg passwordless  and ldap) can have the exact same primary email, which causes a conflict

[2017-06-01 16:47] gdestuynder commented on #2
see also https://github.com/mozilla/iam-project-backlog/issues/35

[2017-06-01 16:47] gdestuynder commented on #2
see also https://github.com/mozilla/iam-project-backlog/issues/4

[2017-06-01 20:53] #119 closed, assigned to andrewkrug

[2017-06-02 12:32] hmitsch commented on #2
see also https://github.com/auth0/rules/issues/71

[2017-06-02 12:34] hmitsch commented on #35
Do we already have a solution for that? Would we want to change Discourse to prohibit two accounts with the same primary email?

[2017-06-02 21:03] andrewkrug commented on #118
I have created a small python library to assist with signing https://github.com/andrewkrug/pykmssig

[2017-06-02 22:27] gdestuynder commented on #114
Code with a class that updates a user from CIS to auth0:
https://gist.github.com/gdestuynder/b08f032378c6196c9de5c579ddc5514b
Rule that loads the updates:
https://github.com/mozilla-iam/auth0-deploy/pull/108

NOTE: this does not create new users yet though this is easy to add (will most likely be needed when Workday is integrated and LDAP is.. re-integrated, at some point)
NOTE2: due to issues wit

[2017-06-02 22:51] gdestuynder commented on #35
@LeoMcA is going to handle it on the discourse side for now and I believe make them appear as the same account there (correct me if im wrong)
not a great/generic solution but works for discourse purposes

[2017-06-05 16:17] gdestuynder opened #153 "Automatically check that there is no person or account that can admin both first and second factor services"
Examples:
- auth0 admin (highly privileged: calls 1fa, 2fa, forwards authorization data)
-  cis admin (highly privileged / integrates all but password data)
- ldap admin (password data)
- mozillians admin (highly privileged / groups & authorization)
- duo admin (2fa only)
- 2nd opinion admin (calls 2fa + 1st, separated, 2nd opinion on authorization)

@claudijd proposes running this automatically o

[2017-06-05 16:22] gdestuynder commented on #153
Alternative: 2man rule for any action on these

[2017-06-05 17:23] gdestuynder commented on #40
i vote to whitelist tc/airmo until its fixed, and go ahead with the rule as not having it causes expectation issues which may be more difficult to solve if modal is used elsewhere (see also https://github.com/mozilla-iam/auth0-deploy/issues/117)

[2017-06-06 22:41] tyearns commented on #152
Hey folks, kindly take a moment to update your story cards so as to reflect the current status today.

[2017-06-07 15:22] andrewkrug commented on #117
@hmitsch who will do the mozillian's part of this?  We are ready to move forward with integration of Mozillian's with the CIS.

[2017-06-07 15:35] johngian commented on #117
Are CIS lambda functions to receive data?

[2017-06-07 16:04] andrewkrug commented on #117
@johngian yes ready for testing.  @gdestuynder completed three successful end to end trials yesterday.  I'm writing a little bit of documentation on how to invoke them from inside of another app but if you're comfortable we can move forward now.

[2017-06-07 19:48] gdestuynder commented on #149
@hmitsch this is blocking https://github.com/mozilla/iam-project-backlog/issues/141 which auth0 is pinging me about (they want to know if this works for us in production as it was a feature request)
Whom should this be assigned to?

[2017-06-07 23:03] andrewkrug opened #154 "Write validation for CIS for just groups"
** reject messages that contain more than just group assertions

[2017-06-07 23:04] andrewkrug opened #155 "Auth0 rule reintegrates groups"
The current auth0 rule that enriched the profile should re-integrate groups to facilitate co-existence of ldap with CIS.

[2017-06-07 23:19] gdestuynder commented on #155
Added safety/whitelist of CIS Integrated profiles in https://github.com/mozilla-iam/auth0-deploy/pull/108

[2017-06-08 00:08] gdestuynder commented on #155
and in working on this I noticed:
- auth0 behavior changed and it now automatically populate `user.app_metadata` into the user profile, so the rule is not needed
- the rules take effect BEFORE auth0 integration, so we cannot reintegrate
- `client_metadata` is limited to 15 fields so can't contain our profile data
- the values are not accessible directly, though MAYBE we could do an API call with a

[2017-06-08 00:40] gdestuynder commented on #155
Note: I believe I could also do the group integration through the API, so i'll try that hopefully tomorrow.

[2017-06-08 15:49] johngian commented on #117
Here I implement the logic behind it: https://github.com/mozilla-iam/cis/pull/57
Publishing from mozillians.org is just a call of this method.

[2017-06-08 19:44] gdestuynder opened #156 "Create, test and use a CNAME for RPs/Client that talk to auth0"
Ex:
https://auth.sso.mozilla.com (PROD) CNAME auth.mozilla.auth0.com
https://auth.sso.allizom.org (DEV) CNAME auth-dev.mozilla.auth0.com

Then test that an RP works correctly with these. This makes it easier for us to change technology, add a proxy layer, etc in case it's needed without having to require RP's to change their setup.

[2017-06-08 20:24] gdestuynder commented on #155
Work-around through the API:

https://github.com/mozilla-iam/cis_functions/pull/12

[2017-06-08 20:28] gdestuynder commented on #155
note: closed the rule PR (#108 above) as auth0 force integrates `app_metadata` now, the rule has no effect and cannot control the data. The PR https://github.com/mozilla-iam/cis_functions/pull/12 does this via the API instead

[2017-06-08 20:51] andrewkrug commented on #108
I just approved this pull as soon as it's merged can close this issue.

[2017-06-08 21:07] andrewkrug commented on #156
@gdestuynder what about SSL certificates?  Are you assuming we'll either add SAN to auth0 side or implement a lambda based proxy out the gate?

[2017-06-08 22:01] andrewkrug commented on #156
Auth0 support ticket opened for adding subject alternative names https://support.auth0.com/tickets/24224

[2017-06-08 23:27] gdestuynder commented on #156
yeah, either way. The goal of this issue is to verify feasibility as well. r+ on the ticket, if they can just use our SAN cert for example (that we would therefore provide them) then its easier

[2017-06-09 01:56] hmitsch commented on #117
@andrewkrug sorry I had not answered, @johngian thanks for getting on board. 😄

[2017-06-10 03:04] hmitsch commented on #149
Starting communication about iam@mozilla-community.org for public, RP-related IAM discussions.

[2017-06-10 03:20] hmitsch commented on #149
* Informed iam-dev mailing list: https://groups.google.com/a/mozilla.com/d/msg/iam-dev/NnAO5cDlLvc/C08VON8LAQAJ

[2017-06-12 18:31] gdestuynder commented on #155
mozilla-iam/cis_functions#12 fixes this

[2017-06-12 18:31] #155 closed, assigned to gdestuynder

[2017-06-13 14:56] gene1wood commented on #79
This sprint I've been focusing on the deployment layout and developing the signature verification code. This was a change in order from what I'd planned (planned to deploy first, then implement signature verification).

The signing model now involves a GPG signing root authority which is a single dedicated GPG keypair, for which the fingerprint is hard coded into the second-opinion code.

This roo

[2017-06-13 17:11] andrewkrug opened #157 "Demo Video"
Create a demo video that communicates the life of a message in the change integration service.

Should cover:

* Current State
* Future State
* Profile Updates
* New user scenario

[2017-06-13 18:27] gdestuynder commented on #149
Should we auto subscribe any new RP? (cc @jdow )
Can I use iam@mozilla-community.org for https://github.com/mozilla/iam-project-backlog/issues/141? (@hmitsch)

[2017-06-13 19:35] gdestuynder commented on #41
this currently seem to breaks at least one SAML RP (Exact Target)

[2017-06-13 19:48] #41 closed, assigned to nobody

[2017-06-13 23:09] hmitsch commented on #149
@gdestuynder yes and yes.

* How would "auto-subscribe" work? Do we need @LeoMcA's input here?
* Totally in for sending info on #141 to that list!

PS: @LeoMcA how far ahead are with with the "display category subscribers" patch?

[2017-06-13 23:55] gdestuynder opened #158 "Go through Duo backlog of new user and ensure they're in the everyone group, after https://github.com/mozilla/login.mozilla.com/pull/24 is closed/deployed"

[2017-06-14 12:26] hmitsch opened #159 "Sprint 10 Goal"
## Prioritized Themes
1. [LDAP INTEGRATION - MOZ] Q2 OKR (All Hands Demo): _Clean up, payback outstanding debt_
1. [MOZILLIANS.ORG]: _PROD migration on 22 JUN 2017_

### Details
1. [LDAP INTEGRATION - MOZ] Change Integration Service ([CIS](https://github.com/mozilla-iam/cis/issues)): _Clean up, payback outstanding debt__
      - [ ] #116 RP Handle new group information ( In progress )
      - [x]

[2017-06-14 16:47] gdestuynder commented on #149
auto-subscribe: we get RP's contact in ServiceNow when they request the integration

[2017-06-14 16:56] gdestuynder commented on #158
The pr at https://github.com/mozilla/login.mozilla.com/pull/24 is now in production

[2017-06-14 17:21] #152 closed, assigned to jdow, flamingspaz, johngian, hmitsch, akatsoulas, comzeradd, gdestuynder, gene1wood, andrewkrug

[2017-06-14 18:13] gdestuynder commented on #158
All users that weren't in the group are now assigned. @tristanweir emailed users that had used phone call to inform them of the change

[2017-06-14 18:16] #147 closed, assigned to viorelaioia-zz

[2017-06-14 18:19] #158 closed, assigned to nobody

[2017-06-14 21:02] gdestuynder commented on #141
communication sent to iam@mozilla-community.org

[2017-06-14 21:07] gdestuynder commented on #141
The change has been made (timestamp: this comment)

[2017-06-14 21:07] #141 closed, assigned to nobody

[2017-06-14 22:38] gdestuynder opened #160 "Support Ajax-y sites (ie XHR support) with session refresh"
See also: https://github.com/mozilla/mozilla-django-oidc/issues/133#issuecomment-308417531
- [x] Write patch
- [x] Open bug for phonebook
- [ ] Write github doc on this

[2017-06-15 20:58] LeoMcA commented on #149
That's not currently something supported in Discourse - users have to create their own accounts. Discourse does have the concept of invites, but that doesn't currently work with our accounts setup. Fixing that is being tracked here: https://github.com/mozilla/discourse/issues/24

Still in discussion: https://github.com/mozilla/discourse/issues/56
My thought was we only wanted to display the number

[2017-06-16 19:36] gdestuynder commented on #160
I wrote a hack for this:
https://github.com/mozilla/mozilla-django-oidc/issues/133#issuecomment-309113487

[2017-06-18 12:30] hmitsch commented on #149
* Informed dev-identity mailing list: https://groups.google.com/forum/#!topic/mozilla.dev.identity/7VhizOJXxWc

[2017-06-21 19:55] gdestuynder opened #161 "Cleanly separate the user profile schema from the rest of the code"
- [x] Auto namespace all claims
- [ ] Move schema (used for validation) from CIS repo to a new `User Profile Schema` repo
- [x] Show the schema on https://sso.mozilla.com/claims/
- [ ] Load the schema in CIS (copy or automatic)
- [ ] Load the schema for claim auto-namespacing in the Auth0 namespacing rule

This helps knowing where the source of truth for the schema is and allows various parts of I

[2017-06-21 20:16] gdestuynder commented on #161
See also https://github.com/mozilla-iam/auth0-deploy/pull/124 for the namespacing itself

[2017-06-21 20:17] gdestuynder commented on #161
See also https://github.com/mozilla-iam/sso-dashboard/pull/136 for the redirect/showing schema on  https://sso.mozilla.com/claims/

[2017-06-22 00:27] gdestuynder opened #162 "Automate client testing in auth0-deploy CI, include SAML clients"
This is to avoid issues such as https://bugzilla.mozilla.org/show_bug.cgi?id=1375314

This must be done before any further merge to branches on auth0-deploy

- [x] Create tests
- [ ] Hook them up to CI

[2017-06-22 20:23] #121 closed, assigned to nobody

[2017-07-03 17:40] gdestuynder commented on #94
https://bugzilla.mozilla.org/show_bug.cgi?id=1357743 this is the pentest bug

[2017-07-07 19:38] jdow commented on #144
I've shipped an update to my script that generates certain LDAP groups to include creating and maintaining some new groups. This script runs once per hour (so the new lists should be in sync with the real scm groups with no more than an hour of lag). It does the following:

For every existing scm_* group, it creates three new groupOfNames style groups, and keeps them up to date to match the real s

[2017-07-07 19:38] #144 closed, assigned to jdow

[2017-07-07 20:17] gdestuynder commented on #144
Note that the new user profile for Mozilla IAM supports authoritative groups that have expiration time.
When the time comes to integrate with 'auth0' I would highly recommend deprecating the above groups ( `{active,expired,all}_scm_level_{1,2,3}`) and replace the functionality.
The authoritative groups are per `client_id` (ie if you would want 3 you'd want 3 client ids) and are enforced during aut

[2017-07-10 16:25] purelogiq commented on #144
@jdow Thanks a million for the fix, it makes our use case a lot simpler and secure.

@gdestuynder Do you have a link or other information about these authoritative groups? Are these specific to LDAP or Auth0? Just curious, thanks.

[2017-07-10 17:24] gdestuynder commented on #144
they're specific to Mozilla, it's a feature we're working on rolling out as part of our user profile
it looks like that: https://github.com/mozilla-iam/cis_functions/blob/feature/idvtoauth0/functions/validator/event.json#L87

[2017-07-11 09:30] hmitsch opened #163 "Sprint 11 Goal"
## Prioritized Themes

1. RP Cutovers
1. [LDAP INTEGRATION - MOZ] _Q2 OKR PROD transition_ (Mozillians/CIS/Discourse)
1. [MOZILLIANS.ORG]: _Infrastructure and application debt repayment_
1. (bonus) Launch SSO Dashboard for community

### Details
1. [RP Cutover] Migrate sprint batch, [Migration Plan](https://docs.google.com/spreadsheets/d/1VLwh2A9qbaRqByj7BYbnziWQLL_DdjemAiwT4_0OebE/edit)
   - [ ]

[2017-07-11 13:07] viorelaioia-zz opened #164 "Set the existing session handling tests to run in parallel"
Change the tests from https://github.com/viorelaioia/RPs-session-testing/blob/master/tests/test_login.py to run in parallel.

[2017-07-11 13:58] viorelaioia-zz opened #165 "Implement login test for moderator.mozilla.org"

[2017-07-11 14:00] viorelaioia-zz opened #166 "Implement login test for reps.mozilla.org"

[2017-07-11 14:02] viorelaioia-zz opened #167 "Implement login test for mozilla.slack.com"

[2017-07-11 14:03] viorelaioia-zz opened #168 "Set RPs login tests to run in Jenkins"

[2017-07-11 17:46] gdestuynder commented on #30
@jdow is this implemented? (as in, isnt it here already?)

[2017-07-11 17:48] gdestuynder opened #169 "SSH Federated access"
Ability to login via SSH by leveraging Auth0 for identity, authorization and 2FA checks. See also the project page at https://mana.mozilla.org/wiki/display/SECURITY/Auth0+and+SSH

# Infosec
(@gdestuynder)
- [x] Collect user stories and setup project on https://mana.mozilla.org/wiki/display/SECURITY/Auth0+and+SSH
- [x] List and compare vendors on https://mana.mozilla.org/wiki/display/SECURITY/Auth0

[2017-07-11 17:49] gdestuynder commented on #169
@bhourigan FYI

[2017-07-11 17:55] gdestuynder opened #170 "Bring Biztera to OIDC Conformant mode"
Currently, its whitelisted - biztera fails to recognize dots in the assertion and prevents login

[2017-07-11 17:57] gdestuynder opened #171 "Migrate RPs to OIDC Conformant mode"
This means switching the mode in the advanced settings for all RPs.

- [ ] Add owner info in auth0: first last to the description of each RP in auth0
- [ ] Use Auth0 API to list all RP owners
- [ ] Communicate change to RPs owners
- [ ] Switch RPs (group by group? all of them + test automation?)
- [ ] Enable OIDC conformant by default for new RPs

[2017-07-11 19:53] gdestuynder opened #172 "**Move this board to the IAM org** (see mail from gene)"

[2017-07-13 06:32] #159 closed, assigned to jdow, flamingspaz, johngian, hmitsch, akatsoulas, comzeradd, gdestuynder, gene1wood, andrewkrug

[2017-07-13 15:18] gdestuynder commented on #162
See also  https://github.com/viorelaioia/auth0-tests

[2017-07-13 16:43] gdestuynder commented on #172
Moved the repo to mozilla-iam https://github.com/mozilla-iam/iam-project-backlog
Github updated the board links and redirected the old link (seems to be zero compat issues)

[2017-07-13 16:45] hmitsch commented on #172
Looks great!

[2017-07-13 16:58] gdestuynder commented on #172
found one issue: cannot create/convert/assign issues from the board at https://github.com/orgs/mozilla/projects/3 to https://github.com/mozilla-iam/iam-project-backlog (old issues do work though!)

[2017-07-13 17:17] gdestuynder commented on #156
wontfix'ed

[2017-07-13 17:17] #156 closed, assigned to andrewkrug

[2017-07-14 11:59] viorelaioia-zz commented on #164
Opened pull request: https://github.com/viorelaioia/RPs-session-testing/pull/6.
@johngian , can you please take a look over the pull request? Thanks!

[2017-07-14 17:26] gdestuynder commented on #172
I had a quick chat with @tyearns - since we're not actually using the kanban functionality right now I've not recreated the board.
We using an issue with a list of issues instead (this one: https://github.com/mozilla-iam/iam-project-backlog/issues/163)

[2017-07-14 17:26] #172 closed, assigned to nobody

[2017-07-17 09:30] viorelaioia-zz commented on #167
Opened: https://github.com/viorelaioia/rp_login_tests/pull/1.
@johngian , can you please take a look over the pull request? Thanks!

[2017-07-17 09:30] viorelaioia-zz commented on #166
Opened: https://github.com/viorelaioia/rp_login_tests/pull/1

[2017-07-17 09:30] viorelaioia-zz commented on #165
Opened https://github.com/viorelaioia/rp_login_tests/pull/1

[2017-07-17 23:27] gdestuynder commented on #116
@hmitsch  I believe we can close this (?)
Feel free to reopen if im mistaken but afaik we've done this via the CIS OKR

[2017-07-17 23:27] #116 closed, assigned to nobody

[2017-07-18 00:05] hmitsch commented on #116
Perfect, thanks for closing!

[2017-07-18 20:35] mvk-mozilla commented on #170
Can I get the details about what specifically Biztera needs to do to come into compliance? Is there a document I can share with their developer?
Thanks!

[2017-07-18 21:28] gdestuynder commented on #170
@mvk-mozilla they refuse any OIDC claim with dots in them such as:
https://sso.mozilla.com/groups = ['...']

This namespacing is required by auth0 and will soonish be enforced: https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims - when it is we won't be able to upgrade unless biztera handles claims with dots in them, basically.

There's no reason they wouldn't allow dots from an

[2017-07-18 21:32] lucioperca commented on #170
This is Zander from Biztera confirming receipt of this issue.

[2017-07-19 00:29] gdestuynder commented on #163
@johngian @akatsoulas do you know when (and if you have an issue maybe) for mozillians.org to push the CIS profile (at least in dev)?
This is for:  "Merge demo functionality of CIS to mozillians.org"

[2017-07-19 20:33] johngian commented on #163
We need to postpone this for next sprint. Is this something that's blocking CIS dev?

[2017-07-19 21:58] gene1wood commented on #79
* Mozilla CloudTrail AWS account has been converted to infosec-isolated acount
* Credstash infrastructure deployed in infosec-isolated
* [Posing the DNS question to infra](https://bugzilla.mozilla.org/show_bug.cgi?id=1382843)
  * Planned path forward is to select a TLD, request registration with markmonitor and set NS servers as the route53 zone in infosec-isolated

[2017-07-20 02:29] lucioperca commented on #170
@gdestuynder @jdow @mvk-mozilla The issue should be resolved on our current build.

[2017-07-20 06:13] gdestuynder commented on #163
its blocking releasing CIS in prod ("and dev")

[2017-07-20 06:22] gdestuynder opened #173 "Sprints 2017Q3 (Infosec)"
## 2017Q3 OKRs related to Infosec and IAM
See roadmap: https://app.productplan.com/RdSq8HT2

1. Objective: Migrate all RPs from Okta to Auth0
2. Objective: Ability to access AWS using SSO
3. Objective: Support security alerts for users in the SSO Dashboard
4. Objective: Ensure community users can leverage Mozillians groups in relying parties utilizing Auth0
5. Objective: Ability for CLI programs t

[2017-07-20 08:30] viorelaioia-zz commented on #167
Pull request is merged.

[2017-07-20 08:30] viorelaioia-zz commented on #166
Pull request is merged.

[2017-07-20 10:38] viorelaioia-zz commented on #168
Opened PR: https://github.com/mozilla-iam/rp_login_tests/pull/2

[2017-07-20 10:38] viorelaioia-zz commented on #168
PR is merged

[2017-07-20 10:39] viorelaioia-zz commented on #164
PR is merged

[2017-07-20 23:04] hmitsch commented on #157
Link to video: https://drive.google.com/open?id=0Bygii4Y0cV-kYnNab1RhRUJWNjg

[2017-07-20 23:04] #157 closed, assigned to nobody

[2017-07-21 00:03] gdestuynder commented on #170
@lucioperca awesome news and quick turn-around.
I verified and this is functional
thank you!

[2017-07-21 00:03] #170 closed, assigned to jdow

[2017-07-21 17:12] gdestuynder opened #174 "Create a CIS API `profile` endpoint"
Start by creating the `profile` endpoint as read-only service/API.
Note that this is a stand-alone, OIDC compliant end-point that is orphaned as it does not have an associated `authorization` endpoint. It is to be used as a regular OAuth endpoint, basically, and cannot be discovered by OIDC discovery at the moment.
The goal of this API is to replace direct auth0 management API calls for RPs, and p

[2017-07-21 17:37] gdestuynder commented on #22
@hmitsch  can this be closed?

[2017-07-21 17:37] gdestuynder commented on #20
@hmitsch can this be closed?

[2017-07-21 17:45] #70 closed, assigned to nobody

[2017-07-21 17:46] gdestuynder commented on #37
@hmitsch is this still needed?
its easy to add text if you have an idea of what to add or how to test

[2017-07-21 17:46] gdestuynder commented on #34
@gene1wood do you think we still need this?

[2017-07-21 17:48] gdestuynder commented on #1
this is now tracked in https://github.com/mozilla-iam/iam-project-backlog/issues/173
I believe we'll open a new issue when this is worked on as the story has change a little (not much though, but just for clarity I'd rather we rewrite it)

[2017-07-21 17:48] #1 closed, assigned to jdow, hmitsch

[2017-07-21 17:48] gdestuynder commented on #9
@flamingspaz is this still used as a tracker or should this be closed (if theres another tracker just refer to it and close, or if its done just close)

[2017-07-21 17:49] gdestuynder commented on #12
I dont have any particular tech to add to the MOSS list.
@hmitsch do you have anything in mind? else lets close this

[2017-07-21 18:25] hmitsch commented on #12
I agree, let's close it.

On Fri 21. Jul 2017 at 19:49, Guillaume Destuynder (:kang) <
notifications@github.com> wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-07-21 18:26] hmitsch commented on #37
I don't think we still need this. Let's close it.

On Fri 21. Jul 2017 at 19:46, Guillaume Destuynder (:kang) <
notifications@github.com> wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-07-21 18:26] hmitsch commented on #20
Yes, let's close it.

On Fri 21. Jul 2017 at 19:37, Guillaume Destuynder (:kang) <
notifications@github.com> wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-07-21 18:26] hmitsch commented on #22
Yes, let's close this as well.

On Fri 21. Jul 2017 at 19:37, Guillaume Destuynder (:kang) <
notifications@github.com> wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-07-21 20:44] gdestuynder commented on #11
@jdow I ran this for you using LDAP logs in MozDef (ie these are not auth0 logs, these are anything-ldap-login-successful-logs)
Results for 1mo are at: https://docs.google.com/spreadsheets/d/1UZKABN10w9V3UGIlT2sFVdgMmC4Qha962iHtA3f7CQI/edit#gid=472506515 (ask access)

Summary (unique users):
- 57 users in the last 30 days
- 139 users in the last 90 days
- 217 users since January 16th 2017
- 15 use

[2017-07-21 20:46] #11 closed, assigned to jdow

[2017-07-21 20:48] gdestuynder commented on #73
2nd opinion mitigates the need for this (cc @gene1wood ) though we'd still want it eventually

[2017-07-21 20:49] flamingspaz commented on #9
Sprint 10 goal was the tracker for this https://github.com/mozilla-iam/iam-project-backlog/issues/159

[2017-07-21 20:49] #9 closed, assigned to flamingspaz

[2017-07-21 20:52] gdestuynder commented on #72
This would use CIS

[2017-07-21 20:54] gdestuynder commented on #33
there are other issues for this now:
https://github.com/mozilla-iam/iam-project-backlog/issues/168
https://github.com/mozilla-iam/iam-project-backlog/issues/164
I suspect theres one specifically for session as well

@viorelaioia should this issue be closed?

[2017-07-21 20:54] gdestuynder commented on #63
I believe this is no longer planned (as we kept LDAP compatibility instead), closing

[2017-07-21 20:54] #63 closed, assigned to nobody

[2017-07-21 20:56] gdestuynder commented on #43
@jeffbryner  do you know if we get this data anywhere, like workday for example?
This would require provisioning their account and email differently at the workday =>CIS integration if we do this. I believe its doable.

[2017-07-21 20:57] gdestuynder commented on #27
@hmitsch is this still valid, or is this something you track in the mozillians.org org/repo instead?

[2017-07-21 20:57] jeffbryner commented on #43
We do get contractor information from workday. I don't know how it's flagged, however.

[2017-07-21 20:58] #90 closed, assigned to nobody

[2017-07-21 20:58] #89 closed, assigned to nobody

[2017-07-21 21:05] gdestuynder commented on #11
SSH (as of today):
- 631 total, 292 community scm level 1 active users
- 397 total, 144 community scm level 2 active users
- 381 total, 140 community scm level 3 active users

Extracted from the new LDAP scm-active groups

[2017-07-21 21:08] gdestuynder commented on #42
we're most likely not going to do this since we have CIS so i'm closing it. if we ever think its a useful thing to do again we'll open a new entry

[2017-07-21 21:08] #42 closed, assigned to jdow, gdestuynder, andrewkrug

[2017-07-21 21:10] #47 closed, assigned to gene1wood

[2017-07-21 21:10] #100 closed, assigned to viorelaioia-zz

[2017-07-21 21:10] gdestuynder commented on #101
we're at sprint 11, closing

[2017-07-21 21:10] #101 closed, assigned to nobody

[2017-07-21 21:10] gdestuynder commented on #78
this is done ;-)
sso.mozilla.com

[2017-07-21 21:10] #78 closed, assigned to andrewkrug

[2017-07-21 21:11] gdestuynder commented on #132
@tyearns we marked this as done yesterday so im closing it

[2017-07-21 21:11] #132 closed, assigned to jdow, andrewkrug

[2017-07-21 21:13] gdestuynder commented on #129
this is now tracked directly in https://github.com/mozilla-iam/iam-project-backlog/issues/173

[2017-07-21 21:13] #129 closed, assigned to jdow, andrewkrug

[2017-07-21 21:15] gdestuynder commented on #154
we plan to reject msgs that do not contain the complete profile

[2017-07-21 21:16] gdestuynder commented on #108
@jdow ^^^^^

[2017-07-21 21:17] gdestuynder commented on #160
reminder that once the doc is written for this a bug should be opened for phonebook
cc @floatingatoll @fox2mike

[2017-07-21 21:18] gdestuynder commented on #149
@hmitsch this is done / can close right?

[2017-07-21 21:19] gdestuynder commented on #94
as per above test this is done, remediations are tracked there

[2017-07-21 21:19] #94 closed, assigned to nobody

[2017-07-21 21:19] gdestuynder commented on #107
we now track work in https://github.com/mozilla-iam/iam-project-backlog/issues/173 though this is a good future reference (this comment will back reference for the purpose of being able to find this back)

[2017-07-21 21:19] #107 closed, assigned to hmitsch, gdestuynder

[2017-07-21 21:23] #165 closed, assigned to nobody

[2017-07-21 21:23] #167 closed, assigned to nobody

[2017-07-21 21:23] #166 closed, assigned to nobody

[2017-07-21 21:23] #164 closed, assigned to nobody

[2017-07-21 21:23] #168 closed, assigned to nobody

[2017-07-21 21:29] gdestuynder commented on #139
remaining stuff to fix/nits via @andrewkrug (or we just wait for purelogiq to do it)

[2017-07-21 21:50] andrewkrug commented on #137
This has been done!

[2017-07-21 21:50] #137 closed, assigned to andrewkrug

[2017-07-21 21:51] #120 closed, assigned to nobody

[2017-07-21 21:53] gdestuynder commented on #43
i think its an employee type attribute in ldap/workday, so we could use it.
I think we can start by having them in a special workday group (this is how we currently plan the CIS integration anyway) and after that if we still want to do this, point the domains correctly and create the users in a separated ldap ```ou```

cc @jdow for feedback on that too

[2017-07-21 22:00] #22 closed, assigned to nobody

[2017-07-21 22:00] #20 closed, assigned to nobody

[2017-07-21 22:00] #37 closed, assigned to nobody

[2017-07-21 22:00] #12 closed, assigned to nobody

[2017-07-24 22:05] gene1wood commented on #34
We don't `need` it so long as we don't need to do any troubleshooting of email delivery to users. Happy to get others thoughts.

[2017-07-25 00:59] gdestuynder commented on #34
@hmitsch ^^ (i think you're the 'others thoughts' here :)

[2017-07-25 12:39] hmitsch opened #175 "Sprint 12 Goal"
## Prioritized Themes
1. RP Cutovers
1. IAM Q2 OKR _PROD transition_ (Mozillians/CIS/Discourse)
1. Mozillians.org Infrastructure and Application _debt repayment_

### Details
1. RP Cutover
    - Migration from Okta to Auth0 SSO, see [cut over verification link](https://github.com/mozilla-iam/sso-dashboard-configuration/blob/master/apps.yml)
    - [Migration Plan](https://docs.google.com/spreadshee

[2017-07-25 12:43] viorelaioia-zz opened #176 "Set the login tests to use counter-based OTPs instead of time-based OPTs"

[2017-07-25 13:02] viorelaioia-zz opened #177 "Implement login test for standu.ps"

[2017-07-25 13:05] viorelaioia-zz opened #178 "Implement login for mozillastage.service-now.com"

[2017-07-25 13:07] viorelaioia-zz opened #179 "Implement login for sso.mozilla.com"

[2017-07-25 13:10] viorelaioia-zz opened #180 "Implement login for discourse.mozilla-community.org"

[2017-07-25 13:11] viorelaioia-zz opened #181 "Implement login for mozillians.org"

[2017-07-25 13:17] viorelaioia-zz opened #182 "Set the login tests to run in parallel in Jenkins"

[2017-07-25 14:29] hmitsch commented on #34
@gene1wood and @gdestuynder, I'd suggest we close the issue. We have done well in the past and I would not invest in this type of "operational helper tool" at the moment.

Best regards,
   Henrik

[2017-07-25 14:33] flamingspaz commented on #182
Let me know before you test this so I can bump up the workers for session tests. Right now it would flood us with a bunch of Jenkins slaves

[2017-07-25 15:28] #34 closed, assigned to nobody

[2017-07-25 15:51] #149 closed, assigned to hmitsch

[2017-07-28 07:36] viorelaioia-zz commented on #176
Pull request: https://github.com/mozilla-iam/rp_login_tests/pull/3

[2017-07-31 11:55] viorelaioia-zz commented on #178
Opened https://github.com/mozilla-iam/rp_login_tests/pull/4

[2017-07-31 11:56] viorelaioia-zz commented on #177
Opened https://github.com/mozilla-iam/rp_login_tests/pull/4.

[2017-07-31 12:25] viorelaioia-zz commented on #179
Opened https://github.com/mozilla-iam/rp_login_tests/pull/4

[2017-07-31 12:26] viorelaioia-zz commented on #180
Opened https://github.com/mozilla-iam/rp_login_tests/pull/4

[2017-07-31 12:26] viorelaioia-zz commented on #181
Opened https://github.com/mozilla-iam/rp_login_tests/pull/4

[2017-08-01 23:12] hmitsch commented on #27
Let's close it.

[2017-08-01 23:12] #27 closed, assigned to mbransn

[2017-08-03 16:41] gene1wood commented on #79
* mozilla.services (and mozilla-auth.services) have been registered, DNS zones have been created and they're now hosted in the infosec-isolated account
* additional documentation on the signing hierarchy has been completed
* currently testing some changes to the signing hierarchy before deploying

[2017-08-08 08:19] hmitsch opened #183 "Sprint 13 Goal"
## Prioritized Themes
1. RP Cutovers, Sprint 13 bit
1. IAM Q2 OKR _PROD transition_ (_As a Mozilla Rep, I can access a specific Discourse category_)
1. Workday integration: Embark on technical design journey
1. Mozillians.org Infrastructure and Application _debt repayment_

### Details
1. RP Cutover
    - Migration from Okta to Auth0 SSO, see [cut over verification link](https://github.com/mozilla

[2017-08-08 12:47] viorelaioia-zz opened #184 "Implement login for https://discourse-staging.production.paas.mozilla.community"

[2017-08-08 12:47] viorelaioia-zz opened #185 "Implement login for https://moderator-staging.production.paas.mozilla.community/"

[2017-08-08 12:48] viorelaioia-zz opened #186 "Implement login for https://web-mozillians-staging.production.paas.mozilla.community"

[2017-08-08 12:49] viorelaioia-zz opened #187 "Implement login for reps.allizom.org"

[2017-08-08 12:49] viorelaioia-zz opened #188 "Implement login for prod.testrp.security.allizom.org"

[2017-08-08 12:50] viorelaioia-zz opened #189 "Implement login for mozilladev.service-now.com"

[2017-08-08 12:50] viorelaioia-zz opened #190 "Implement login for wpt.dev.mozaws.net"

[2017-08-08 12:51] viorelaioia-zz opened #191 "Implement login for mozillatest.service-now.com"

[2017-08-08 12:51] viorelaioia-zz opened #192 "Implement login for mozillaupgrade.service-now.com"

[2017-08-08 12:52] viorelaioia-zz opened #193 "Implement login for wpt.stage.mozaws.net"

[2017-08-08 12:53] viorelaioia-zz opened #194 "Implement login for https://selfservice.mig.allizom.org"

[2017-08-08 12:54] viorelaioia-zz opened #195 "Implement login for sso.allizom.org"

[2017-08-08 12:56] viorelaioia-zz opened #196 "Implement login for biztera.com/mozilla"

[2017-08-08 16:05] LeoMcA opened #197 "Update email template"
From: https://discourse.mozilla.org/t/initial-impressions-on-the-forum/17741?u=leo

While the expiry time has been extended, it looks like the value in the template is hardcoded - this should be updated.

This snippet of text should be removed from the template.

[2017-08-14 19:01] hmitsch opened #198 "Sprint 14 Goal"
## Prioritized Themes
1. RP Cutovers, Sprint 14 bit
1. Mozillians.org  _Q2 OKR Leftovers_
1. Initiate work on _SSO Dashboard Q3 Goal_
1. SSH Federated Access (multi-sprint) #169
1. Mozillians.org Infrastructure _debt repayment_
1. ~IAM **Q3** OKR (Share a G Suite document with a Mozillians.org group): _Crushing the Boulder_~ (deprioritized _stop starting and start finishing_ on the many other open

[2017-08-17 13:18] viorelaioia-zz commented on #196
Opened: https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:18] viorelaioia-zz commented on #195
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #194
opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #192
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #191
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #189
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #188
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #187
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #186
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #185
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-17 13:19] viorelaioia-zz commented on #184
Opened https://github.com/mozilla-iam/rp_login_tests/pull/6

[2017-08-22 14:38] viorelaioia-zz opened #199 "Automate CIS tests - Verify that updates to a mozillians profile are visible in auth0"

[2017-08-23 10:57] flamingspaz opened #200 "Ensure events get pushed from Mozillians to CIS"
Title is generic but this is to make sure that we build in some resilience to ensure that changes get processed even if Mozillians/Celery or CIS goes down for some reason.

mozilla/parsys#219 Captures the initial work on the Mozillians side to ensure we keep a record of the events that were successfully passed to CIS

[2017-08-24 17:43] gdestuynder commented on #174
cc @eliperelman

[2017-08-31 23:22] hmitsch opened #201 "Sprint 15 Goal"
## Prioritized Themes
1. RP Cutovers, Sprint 15 bit - final segment?
1. Mozillians.org  _Q2 OKR Leftovers_
1. Work on _SSO Dashboard Q3 Goal_
1. SSH Federated Access (multi-sprint) #169
1. IAM **Q3** OKR (Share a G Suite document with a Mozillians.org group): Start getting HR data into CIS

### Details
1. RP Cutover
1. *Getting Q2 OKR to Production*
    * The RP we choose is *Discourse*
    * Add

[2017-09-05 09:29] viorelaioia-zz opened #202 "Set the cis_tests in InfoSec infrastructure"

[2017-09-05 09:47] viorelaioia-zz opened #203 "Implement login test for https://www.mozdatacollective.com"

[2017-09-05 09:48] viorelaioia-zz opened #204 "Implement login test for https://mozilla.service-now.com"

[2017-09-05 09:48] viorelaioia-zz opened #205 "Implement login test for https://phonebook.mozilla.org/"

[2017-09-06 13:19] gdestuynder commented on #201
Write Auth0 rule to display CIS info on user endpoint => https://github.com/mozilla-iam/auth0-deploy/pull/144

[2017-09-06 13:46] gdestuynder commented on #201
Enforcement of MFA (GitHub MFA and LDAP) => GH: https://github.com/mozilla-iam/auth0-deploy/pull/145 LDAP: https://github.com/mozilla-iam/auth0-deploy/pull/146

[2017-09-07 22:22] gdestuynder commented on #201
Not send CIS groups for passwordless and Google => https://github.com/mozilla-iam/cis/pull/77

[2017-09-08 10:01] akatsoulas opened #206 "mozillians.org should hold multiple user_ids"
mozillians.org should store all the user_ids returned from Auth0, one for every authentication method used.

[2017-09-08 10:03] akatsoulas opened #207 "Do not send group information to CIS for non-MFA authentation providers."

[2017-09-12 18:11] gdestuynder commented on #201
Workaround to fix `updated_at` openidconnect spec issue https://github.com/mozilla-iam/auth0-deploy/pull/147

[2017-09-13 17:54] hmitsch opened #208 "Sprint 16 Goal"
## Prioritized Themes
1. RP Cutovers, Sprint 16 bit - _the final countdown_
1. [IAM Primitive] Work on _Solution 1_ to our Q2 OKR work, see https://docs.google.com/document/d/1xu92qiRoECSjWP1TqCOVnzrNcWRH5Z7UsxoR3PDM8LQ/edit
   * Target environment: *Auth0 DEV + CIS Staging + Mozillians Staging + Discourse Staging*
   * Split _Mozillians Groups_ into (Access Management) *Groups* and (non-access re

[2017-09-21 07:26] viorelaioia-zz opened #209 "Perform testing for storing hris data in app_metadata"

[2017-09-21 20:55] gdestuynder commented on #208
- Force GitHub to use MFA.. https://github.com/mozilla-iam/auth0-deploy/pull/145
- Force LDAP to use MFA https://github.com/mozilla-iam/auth0-deploy/pull/146

[2017-09-25 00:23] hmitsch commented on #208
New scope: Adding https://github.com/mozilla/parsys/issues/221 to the [Reps] bug section

[2017-09-28 08:07] hmitsch commented on #162
@viorelaioia had been creating lots of tests in the past weeks.
Now we need to hook this up into our CI pipeline. We know how to do it. It just needs to be done.

[2017-09-28 08:24] gdestuynder commented on #160
issue was opened https://bugzilla.mozilla.org/show_bug.cgi?id=1401767

[2017-09-28 08:26] gdestuynder commented on #154
we do this!

[2017-09-28 08:26] #154 closed, assigned to nobody

[2017-09-28 08:28] gdestuynder commented on #153
plan to do this in Q12018 after 2nd opinion and Q4O1_Slack

[2017-09-28 08:32] gdestuynder commented on #136
container exists at https://github.com/mozilla-iam/federated_access_proxy/
still need to split it cleanly

[2017-09-28 08:35] gdestuynder commented on #126
we currently don't really need this, iceboxed

[2017-09-28 08:36] gdestuynder commented on #118
iceboxed until we have a signing solution
we currently do encryption instead

[2017-09-28 08:37] #117 closed, assigned to johngian

[2017-09-28 08:39] #114 closed, assigned to nobody

[2017-09-28 08:40] gdestuynder commented on #111
We need a ServiceNow API key for this, but we're did not get it so far

[2017-09-28 08:43] gdestuynder commented on #98
Currently leaving in icebox, though this might happen after Q4O4_CoherentUx

[2017-09-28 08:44] gdestuynder commented on #97
we want this, likely Q12018

[2017-09-28 08:48] gdestuynder opened #210 "Yaml file to support authorization rules in SSO Dashboard"
- [x] Write static yaml files
- [x] Write auth0 rule to parse the file

File contents will be similar to the current auth0 access rules (and thus supersede these) as well as rules for the federated access proxy

Precursor to https://github.com/mozilla-iam/iam-project-backlog/issues/97 which will allow users to request access

[2017-09-28 08:50] gdestuynder commented on #79
@gene1wood this task is done right? (if yes close, since this is design/build out which i believe is done)

[2017-09-28 08:51] gdestuynder commented on #72
Note: tying to Q4O1 though we might start with only Slack in this list for this objective

[2017-09-28 08:52] gdestuynder commented on #40
this is blocked on airmo not using the hosted lock
notes:
- change in airmo might be easy to make
- EUS is on point for the airmo update/replacement, likely in september 2017

[2017-09-28 08:57] gdestuynder commented on #4
note that we now want GitHub as login method but we also STILL want this to verify GitHub as an external account in mozillians.org

[2017-09-28 08:59] hmitsch commented on #4
Since quite a lot of time passed, here's an update.
This intent is part of **Solution 1** implementation from https://docs.google.com/document/d/1xu92qiRoECSjWP1TqCOVnzrNcWRH5Z7UsxoR3PDM8LQ/edit

[2017-09-28 09:02] gdestuynder commented on #73
login.mozilla.com is where this would be done

[2017-09-28 09:03] #38 closed, assigned to nobody

[2017-09-28 09:04] gdestuynder commented on #210
https://github.com/mozilla-iam/iam-project-backlog/issues/38 <= this was actually this, duplicate

[2017-09-28 09:05] gdestuynder commented on #36
We might get this during the lock rewite, though its far from a priority so leaving in icebox for now

[2017-09-28 09:05] hmitsch commented on #64
Linking to https://github.com/mozilla/thimble.mozilla.org/issues/2431 because these two conversations are somehow/remotely related.

[2017-09-28 12:14] djmitche commented on #40
TC is no longer blocking this.

[2017-09-28 16:28] jdow commented on #108
I will work on this after we've turned down Okta. Probably next week

[2017-09-28 16:38] jdow commented on #30
Yes, this was implemented a long time ago.

[2017-09-28 16:38] #30 closed, assigned to jdow

[2017-09-28 16:39] jdow commented on #58
This was done a long time ago.

[2017-09-28 16:39] #58 closed, assigned to jdow, andrewkrug

[2017-09-28 16:40] jdow commented on #61
This work is done.

[2017-09-28 16:40] #61 closed, assigned to jdow

[2017-09-28 16:41] jdow commented on #130
This is done.

[2017-09-28 16:41] #130 closed, assigned to jdow, andrewkrug

[2017-09-28 16:42] jdow commented on #131
This is done.

[2017-09-28 16:42] #131 closed, assigned to jdow

[2017-09-29 06:37] #185 closed, assigned to nobody

[2017-09-29 06:37] #184 closed, assigned to nobody

[2017-09-29 06:41] #180 closed, assigned to nobody

[2017-09-29 06:41] #181 closed, assigned to nobody

[2017-09-29 06:41] #179 closed, assigned to nobody

[2017-09-29 06:42] #178 closed, assigned to nobody

[2017-09-29 06:43] #177 closed, assigned to nobody

[2017-09-29 06:43] #176 closed, assigned to nobody

[2017-09-29 06:43] #182 closed, assigned to nobody

[2017-09-29 06:47] #199 closed, assigned to nobody

[2017-09-29 06:47] viorelaioia-zz commented on #199
Work done in [cis_tests](https://github.com/mozilla-iam/cis_tests) repo

[2017-09-29 10:13] #196 closed, assigned to viorelaioia-zz

[2017-09-29 10:14] #195 closed, assigned to viorelaioia-zz

[2017-09-29 10:14] #194 closed, assigned to viorelaioia-zz

[2017-09-29 10:14] #192 closed, assigned to viorelaioia-zz

[2017-09-29 10:14] #191 closed, assigned to viorelaioia-zz

[2017-09-29 10:14] #189 closed, assigned to viorelaioia-zz

[2017-09-29 10:15] #187 closed, assigned to viorelaioia-zz

[2017-09-29 10:16] #188 closed, assigned to viorelaioia-zz

[2017-09-29 10:16] #186 closed, assigned to viorelaioia-zz

[2017-09-29 19:18] hmitsch opened #211 "Sprint 17 Goal"
## Prioritized Themes
* Mozillians.org account verification for Google and Github identities (incremental rollout)
* Moving forward, Mozillians.org passwordless login will support the use of only one, identity verified email address, per user (incremental rollout)
* Have a first property using IAM Group Management to control access
* Unblock the expansion of the Q2 OKR

## Mozillians.org
- [x] #21

[2017-10-02 14:27] #23 closed, assigned to andrewkrug

[2017-10-02 14:29] viorelaioia-zz commented on #205
Done in https://github.com/mozilla-iam/rp_login_tests/pull/6/files

[2017-10-02 14:29] #205 closed, assigned to viorelaioia-zz

[2017-10-02 14:30] viorelaioia-zz commented on #204
Done in https://github.com/mozilla-iam/rp_login_tests/pull/6/files

[2017-10-02 14:30] #204 closed, assigned to viorelaioia-zz

[2017-10-02 14:30] viorelaioia-zz commented on #203
Done in https://github.com/mozilla-iam/rp_login_tests/pull/6/files

[2017-10-02 14:30] #203 closed, assigned to viorelaioia-zz

[2017-10-02 14:33] andrewkrug commented on #174
- [ ] Create serverless functions project
- [ ] Add roles to be able to read data from dynamo db
- [ ] Add scoped oAuth endpoint support
- [ ] Add custom authorizer to serverless function project
- [ ] Test bearer token blacklisting
- [ ] Decide on whether SCIM is the right fit.

[2017-10-02 14:37] akatsoulas opened #212 "mozillians.org identity upgrades."
This issue will track the work to enable MFAed accounts in mozillians.org and all the work that needs to happen around that.

- [x] Save multiple auth0 ids in mozillians.org.
- [x] Add Github integration in mozillians.org lock.
- [x] Do not allow a user to use a less secure method to login if an MFAd method was used once.
- [x] Do not send groups to CIS if a non MFAed is used.
- [x] When an MFAed

[2017-10-02 14:39] andrewkrug opened #213 "Mozilla IAM Profiles contain verified information about Google Accounts and Github"
This is to facilitate OKR 01 - GSuite Integration Components.

As a user I need a way to assert ownership of a google account in order to gain access to a Mozillians group team drive.

- [x] Agree on whether this feature should be in Mozillians.org or other.
- [x] Select a library to use for the integration
- [x] Use django-OIDC to assert ownership direct to Gapps ( and optionally githubs )  ( In

[2017-10-02 14:41] andrewkrug opened #214 "Switch CIS to the Cryptography SDK"
Cryptography SDK is preferred to our method of data key encryption.

Let's find a way to use this instead.  ( See pykmssig for example )

[2017-10-02 14:42] andrewkrug opened #215 "Create a loopback driver to populate the CIS groups table."
In order to facilitate the creation of GSuite GDrives and Slack access as a user when I join a group the event needs to also populate the groups table that exists in the identity vault.

- [ ] Add code to cis_functions to build out group memberships table for quick search.

[2017-10-02 14:44] andrewkrug opened #216 "Define expiration of access design"
@gdestuynder I am capturing our conversation regarding the expiration of access work item.  This issue is only "Define this formally" so we can build out the other stories.

[2017-10-02 14:46] andrewkrug opened #217 "Provisioning service for Google Team Drives"
In order to facilitate Mozillian's users collaborating on GDocs we need a team drive provisioner for groups prefixed with mozillians_ .

- [ ] Create find_or_create_by for team drives using the GSuite API
- [ ] Create logic to search groups table and atomically update group memberships on event.
- [ ] Test against Mozillians staging and gsuite staging

[2017-10-02 14:48] andrewkrug opened #218 "ID Token too Large"
While doing testing for AWS Federated access we discovered that if a user has too many groups our ID token is too large.

- [ ] Create an auth zero rule to truncate the token as needed.
- [ ] Indicate in a claim that more group data is available in the CIS user API.

Blocked by #174

[2017-10-02 14:50] andrewkrug opened #219 "Create slack driver for deprovisioning"
- [ ] Serverless Function Project
- [ ] Accepts an event from CIS
- [ ] Validate signature on payload Blocked by #118

[2017-10-02 14:52] andrewkrug opened #220 "Decide on whether to have immutable IDs for all users"
This is a complex conversation.  The future of identity at Mozilla could take many paths we should discuss having a "non auth0 deterministic identifier" instead of relying so heavily on the auth0 ID.

- [ ] Reach a decision on whether to have the conversation at all
- [ ] Decide
- [ ] Report

[2017-10-02 14:53] andrewkrug commented on #220
- [ ] Reach a decision on whether to have the conversation at all
- [ ] Decide
- [ ] Report

[2017-10-02 14:54] andrewkrug commented on #216
- [x] Define this and publish

[2017-10-02 14:55] andrewkrug commented on #214
- [ ] Refactor the CIS Core
- [ ] Refactor the testing
- [ ] Deploy change to CIS_Functions and mozillians staging
- [ ] File CAB
- [ ] Deploy change to CIS_Functions and mozillians production

[2017-10-02 14:59] andrewkrug opened #221 "Productionalize integration of HRIS Data connector"
- [ ] create s3_bucket and role
- [ ] create IAM AWS service account
- [ ] deliver credentials to jdow
- [ ] @jdow to create process to copy workday extract to s3 bucket
- [ ] create cloudwatch event cron
- [ ] test
- [ ] go live with new hris claims
- [ ] switch RPs using HRIS claims to use new connector

[2017-10-02 15:22] flamingspaz commented on #202
Related: https://github.com/mozilla/parsys/issues/236

[2017-10-02 16:18] gdestuynder opened #222 "Define and document automatic expiration of access"
- [x] Document and get reviews
- [x] Publish doc on CIS repos

[2017-10-02 16:25] gdestuynder opened #223 "attempt work-around to integrate LDAP groups in Auth0 instead of CIS until LDAP publisher is live"
- [x] write rule in auth0
- [x] test deploy
- [x] Deploy in prod

[2017-10-02 16:28] gdestuynder opened #224 "Design CIS "Profile" API"
- [ ] Define JSON reply structure
- [ ] Define how the architecture will look like
- [ ] List use cases

[2017-10-02 16:30] gdestuynder opened #225 "POC STS token support"
- [ ] refactor client code to support pluggable protocols
- [ ] refactor server code to support pluggable protocols
- [ ] Implement AWS STS callback
- [ ] Deploy in stage
- [ ] Create Cloudformation Stack to Deploy OIDC Provider in AWS Account.

[2017-10-03 05:31] gdestuynder commented on #222
I'm guessing we misunderstood each other (ie i though these issues weren't there), so it's a dupe of https://github.com/mozilla-iam/iam-project-backlog/issues/216. Using this because more defined ;-)

[2017-10-03 05:31] #216 closed, assigned to gdestuynder

[2017-10-03 05:33] gdestuynder commented on #223
dupe of https://github.com/mozilla-iam/iam-project-backlog/issues/174 will use #174

[2017-10-03 05:34] gdestuynder commented on #223
this is done in #152 needs test/review and prod deploy if successfull

[2017-10-03 05:38] gdestuynder commented on #224
dupe of https://github.com/mozilla-iam/iam-project-backlog/issues/174

[2017-10-03 05:38] #224 closed, assigned to gdestuynder

[2017-10-03 09:17] andrewkrug commented on #223
@flamingspaz let me know when we can test this with Mozillians.org current staging.

[2017-10-03 09:17] andrewkrug commented on #223
Approve this https://github.com/mozilla-iam/auth0-deploy/pull/152 after testing.

[2017-10-03 09:32] andrewkrug opened #226 "Deploy Forbidden Page in Production"
This supports productionalization of the access proxy.

Work is already in staging.  This needs:

- [x] UI Sign off from @m-branson
- [x] CAB Filed
- [x] PR to Prod
- [x] Deploy Complete

[2017-10-03 11:41] andrewkrug commented on #115
https://bugzilla.mozilla.org/show_bug.cgi?id=1388856 has also been updated with information on this issue.

[2017-10-03 11:50] andrewkrug commented on #213
@gdestuynder and @andrewkrug decided this account-verification process can live in Mozillians.org

[2017-10-03 14:55] viorelaioia-zz opened #227 "Login tests for Mana, Greenhouse, Smartsheet, Taskcluster tools"

[2017-10-03 15:06] #133 closed, assigned to jdow, tyearns

[2017-10-03 20:22] gdestuynder opened #228 "Disable unused grants in auth0 clients"
Right now all our clients have several grants including `implicit` and `refresh tokens`.
It used to be that you could not control theses, but we now have the ability to turn it off - and we should, except for clients which actually need them.
Namely:
- no client currently use `refresh tokens`
- only TC API clients use `implicit`

Actual tasks:

- [ ] Disable these grants on all clients except wher

[2017-10-04 11:00] andrewkrug commented on #226
https://github.com/mozilla-iam/sso-dashboard/pull/185

[2017-10-04 11:01] andrewkrug commented on #226
@comzeradd vouched that @m-branson approved this forbidden page.

[2017-10-04 11:11] viorelaioia-zz opened #229 "Homepage returned instead of user's profile, after login"
STR:
1. When being logout, go to a user's profile page E.g: https://mozillians.org/en-US/u/freddyb/
2. Click Login button
3. Select "Login with Ldap", enter credentials and click Log in button

Expected results:
User is redirected to the profile page from step 1

Actual results:
User is redirected to homepage

[2017-10-04 11:41] #226 closed, assigned to nobody

[2017-10-04 15:30] viorelaioia-zz commented on #223
Hey @gdestuynder, @andrewkrug , do you need help with testing? If so, can I get more info on how to test this? Thanks!

[2017-10-04 16:54] gdestuynder commented on #229
I suspect this might be 'a feature' :D anyhow, OIDC will always redirect to the `redirect_uri` as per spec, and the calling RP (in this case mozillians) can choose to redirect back elsewhere (including by passing an additional parameter to the OIDC request IIRC)
Right now their next redirect is `/` (which is common amongst RPs)

[2017-10-04 20:55] gdestuynder commented on #223
@viorelaioia yes! :)
this is on auth-dev (so mozillians staging, and https://social-ldap-pwless.testrp.security.allizom.org/ for example)

If you have a passwordless email such as gdestuynder@mozilla.com *and* a LDAP email which is also gdestuynder@mozilla.com, logging in with passwordless will fail with an error telling you to use LDAP, and LDAP will work.

In other word, for the same email addre

[2017-10-05 09:41] viorelaioia-zz commented on #223
@gdestuynder , I created a document where I added all the cases I tested: https://docs.google.com/document/d/1AuGNgNehsuhtmnRb1LeUPA7WcLhjZ8KZHqftUM0ZJKw/edit
Can you take a look and let me know if all the results I got are the ones expected? Also, I added a few questions, as I was not sure if the specific behavior is intended. I hope I covered all cases.

[2017-10-05 11:02] andrewkrug commented on #223
@gdestuynder I've approved this PR as of today.  Can we get it to prod auth0?

[2017-10-05 13:10] andrewkrug commented on #202
@viorelaioia I slacked you on this but it looks like to achieve this we are going to need a docker container to run these tests from within the infosec account.

[2017-10-05 13:14] andrewkrug opened #230 "Deploy a new instance of Mozillians.org for permanent CIS Testing"
- [x] Setup Domain
- [x] Deploy

[2017-10-05 13:33] bulletproofsysadmin commented on #202
An alternative, for now, might also be for this be webhook based and post the status to slack?

[2017-10-05 22:04] gdestuynder commented on #223
CAB https://mozilla.service-now.com/nav_to.do?uri=change_request.do?sys_id=20eb63f213ad83c0472ed2f18144b093

[2017-10-05 22:12] gdestuynder commented on #223
@viorelaioia continuing discussion on https://github.com/mozilla-iam/auth0-deploy/pull/154

[2017-10-07 00:15] #223 closed, assigned to flamingspaz, gdestuynder, andrewkrug

[2017-10-07 00:15] gdestuynder commented on #223
in prod

[2017-10-09 22:04] mbransn opened #231 "Alert UI Color Updates"
Based on the latest color updates to the [Mozilla Brand Guidelines](https://mozilla.ninja/visualelements/), I will apply new colors to the alert banner and notification center UI.

[2017-10-09 22:20] mbransn commented on #231
Based on updated Mozilla [brand colors](https://mozilla.ninja/visualelements/), new UI color options (some at darker densities than guideline default value) have been applied and are being reviewed with the brand team.

cc @andrewkrug @comzeradd @hmitsch

**Success Banner `#14c887`**
<img width="1466" alt="01-sso-success-green-14c887" src="https://user-images.githubusercontent.com/18686986/3136055

[2017-10-10 12:09] comzeradd commented on #231
@m-branson looks nice! Can you provide the color codes for the alert buttons too? I see these use a lighter background color variation.

[2017-10-10 20:05] gdestuynder opened #232 "Sprint Goal #18 DRAFT"
# 2017Q4 OKRs
**O1: Prove that IAM enables seamless collaboration among Staff and Volunteers**
  - [ ] KR1 Technical proof that a user who stopped using a service loses access
  - [ ] KR2 Technical proof that a user profile can be retrieved from CIS
  - [ ] KR3 All accounts with privileged access have MFA'd logins enforced (NDA'ed Mozillians, Staff, etc)
  - [ ] KR4 A G Suite team drive is shared

[2017-10-10 23:31] mbransn commented on #231
@comzeradd thanks! The alert buttons are all the same: background-color: #FFFFFF @ 0.2 opacity.

[2017-10-10 23:33] gdestuynder commented on #231
ive set that to backlog and would ask if we apply these things in sprint 18 (next sprint), but feel free to change to in progress if thats actually all being done right now

[2017-10-10 23:36] gdestuynder commented on #135
See also https://projects.invisionapp.com/share/CSAFEROA6#/screens/218730609

[2017-10-10 23:38] gdestuynder commented on #135
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1320685

[2017-10-11 11:39] comzeradd commented on #231
This is already in progress. At least the color updates. I'll open a new issue to track the work for the Notifications Center, that most likely fit into the next sprint.

[2017-10-11 11:41] comzeradd opened #233 "Implement Notifications center"
Based on design and colors shown at #231

[2017-10-11 18:07] gdestuynder commented on #231
@m-branson wouldn't the secondary color for blue be close to the standard level colors? (HEX: #00458b)

[2017-10-11 18:19] mbransn commented on #231
@gdestuynder yes, it's quite close. Realistically though, I'd prefer to keep these colors in the primary family. If you have a strong argument for the other, happy to consider it. :)

[2017-10-11 21:23] gdestuynder commented on #231
The main argument is consistency with the standard levels (https://wiki.mozilla.org/Security/Standard_Levels) and that the current "blue" looks "green" to many
In other words "kinda strong" ;-)
I understand that the harmony of the tones of the palette may be an issue with the blue, and in a pragmatic world i'd just say "tweak the greenish blue to look more blue while keeping a similar tone".

We u

[2017-10-11 21:39] mbransn commented on #231
Thanks @gdestuynder ... good clarity. Will the standards levels change to align with the brand update? As is, they appear dated. If not updating, we should maintain the current standard and forgo the 'brand focused colors' for all of these instances. It does not make sense to change alert colors in only one instance.

To summarize:
- From an ideal design stand point: the Mozilla Security Standard

[2017-10-11 22:05] gdestuynder commented on #222
Will be published when reviewed ( see https://github.com/mozilla-iam/cis/pull/83)

[2017-10-11 23:47] mbransn commented on #231
@comzeradd note the new color usage for Medium alert level.

cc @gdestuynder

**Medium Risk Banner** `#00458b`

![screen shot 2017-10-11 at 4 33 08 pm](https://user-images.githubusercontent.com/18686986/31472449-b8bdec66-aea3-11e7-936e-494e8ed95c41.png)

**Notification Center w/Updated Medium Risk `#00458b`**

![notification-center](https://user-images.githubusercontent.com/18686986/31472470-cad9e

[2017-10-12 12:00] hmitsch opened #234 "[Mozillians] Django 1.11 Upgrade (large item)"
Django upgrade required because current version is EOL in Q1/2018

[2017-10-12 14:03] akatsoulas opened #235 "Exempt specific auth0 clients from the MFA rule."
mozillians.org is using a second auth0 client to verify Google and GitHub accounts. If a user has ever used an MFAed account, then the lock does not allow users to verify non MFAed ones. Ideally, we want to allow both MFA and non-MFA methods for verification.

cc @andrewkrug @gdestuynder

[2017-10-12 14:46] mozparsys opened #236 "When upgrading from passwordless to github, groups are not removed from passwordless identity"
STR:
1. Have a mozillians account with passwordless login.
2. Add the mozillians account to cis_whitelist or nda group.
3. Sign up for github using the email address of mozillians account and enroll a device for mfa.
4. Login to mozillians with the github social provider.
5. Check the attributes of the github identity => "Groups" attribute shows the cis_whitelist / nda group.
6. Check the attribut

[2017-10-12 14:47] #236 closed, assigned to nobody

[2017-10-12 14:51] viorelaioia-zz opened #237 "When upgrading from passwordless to github, groups are not removed from passwordless identity"
STR:
1. Have a mozillians account with passwordless login.
2. Add the mozillians account to cis_whitelist or nda group.
3. Sign up for github using the email address of mozillians account and enroll a device for mfa.
4. Login to mozillians with the github social provider.
5. Check the attributes of the github identity => "Groups" attribute shows the cis_whitelist / nda group.
6. Check the attribut

[2017-10-26 01:57] #222 closed, assigned to gdestuynder

[2017-12-22 00:02] floatingatoll commented on #160
@andrewkrug, send me a 60 minute meeting invite in January and we'll knowledge-transfer the work necessary to get this solved.

[2018-01-30 15:11] sylvestre opened #238 "IC & managers list"
With the [release mgmt auto nag tool](https://github.com/mozilla/relman-auto-nag/), we are sending reminders to developers.

We would need to have the list of employees, their titles and their managers to do that.

Thanks.

[2018-01-30 19:06] andrewkrug commented on #238
We will be able to give you this data from our person-api in about 2-weeks.  https://github.com/mozilla-iam/person-api

HRIS claims are actively being worked on in the current sprint.

[2018-01-30 19:10] sylvestre commented on #238
Great, thanks!

[2018-01-30 19:11] andrewkrug commented on #238
I'll update you when we have something in staging you can start developing against.

[2018-01-30 20:38] emceeaich commented on #238
https://github.com/eliperelman/bz-dev-stats-server will need this API as well. @eliperelman

[2018-02-15 06:50] #208 closed, assigned to nobody

[2018-02-15 06:50] #211 closed, assigned to nobody

[2018-02-15 06:51] gdestuynder commented on #218
we've reduced the token through oidc claims
while its still possible to overflow through group data, its very unlikely at this time and thus im considering this fixed

[2018-02-15 06:51] #218 closed, assigned to nobody

[2018-02-15 06:52] gdestuynder commented on #2
@hmitsch why is this reopened?

[2018-02-15 06:52] #2 closed, assigned to nobody

[2018-02-15 06:52] gdestuynder commented on #4
its done

[2018-02-15 06:52] #4 closed, assigned to johngian, akatsoulas

[2018-02-15 06:53] gdestuynder commented on #36
iceboxing into the closed bucket ;-)

[2018-02-15 06:53] #36 closed, assigned to nobody

[2018-02-15 06:54] gdestuynder commented on #40
airmo is the last piece blocking this

[2018-02-15 06:54] gdestuynder commented on #43
@andrewkrug do you know if we get this from the workday report?

[2018-02-15 06:56] #86 closed, assigned to nobody

[2018-02-15 06:56] #87 closed, assigned to nobody

[2018-02-15 06:56] gdestuynder commented on #95
@johngian im guessing this is done right?

[2018-02-15 06:57] gdestuynder commented on #97
Deferred

[2018-02-15 06:58] gdestuynder commented on #108
@jdow

[2018-02-15 06:59] gdestuynder commented on #111
we still haven't received the API key, iceboxing

[2018-02-15 07:02] gdestuynder commented on #118
dupe https://github.com/mozilla-iam/cis_functions/issues/39

[2018-02-15 07:02] #118 closed, assigned to nobody

[2018-02-15 07:02] gdestuynder commented on #221
i believe its done

[2018-02-15 07:02] #221 closed, assigned to nobody

[2018-02-15 07:03] gdestuynder commented on #220
we have an immutable id: `user_id`
we have also decided on attempting to make `primaryEmail` mutable-yet-unique

[2018-02-15 07:03] #220 closed, assigned to nobody

[2018-02-15 07:03] gdestuynder commented on #219
This was re-asked recently

[2018-02-15 07:03] gdestuynder commented on #217
its done

[2018-02-15 07:03] #217 closed, assigned to nobody

[2018-02-15 07:04] gdestuynder commented on #215
since we're doing this without having the feature im super iceboxing this for now ;-)

[2018-02-15 07:04] gdestuynder commented on #213
its done

[2018-02-15 07:04] #213 closed, assigned to akatsoulas, andrewkrug

[2018-02-15 07:05] gdestuynder commented on #212
its done

[2018-02-15 07:05] #212 closed, assigned to johngian, akatsoulas

[2018-02-15 07:05] gdestuynder commented on #210
its done

[2018-02-15 07:05] #210 closed, assigned to gdestuynder, andrewkrug

[2018-02-15 07:06] gdestuynder commented on #207
i believe its done
auth0 and cis also refuse these

[2018-02-15 07:06] #207 closed, assigned to nobody

[2018-02-15 07:06] gdestuynder commented on #206
@akatsoulas is this still a thing?

[2018-02-15 07:06] #175 closed, assigned to jdow, flamingspaz, johngian, akatsoulas, gdestuynder, gene1wood, andrewkrug, viorelaioia-zz, mbransn

[2018-02-15 07:06] #183 closed, assigned to nobody

[2018-02-15 07:06] #163 closed, assigned to jdow, flamingspaz, johngian, hmitsch, akatsoulas, gdestuynder, gene1wood, andrewkrug, viorelaioia-zz

[2018-02-15 07:06] #173 closed, assigned to tyearns

[2018-02-15 07:09] gdestuynder commented on #135
NLX definitely has this :)

[2018-02-15 07:09] #135 closed, assigned to mbransn

[2018-02-15 07:10] gdestuynder commented on #229
im guessing this is fixed

[2018-02-15 07:10] #229 closed, assigned to johngian, akatsoulas

[2018-02-15 07:10] gdestuynder commented on #231
this is done

[2018-02-15 07:10] #231 closed, assigned to mbransn

[2018-02-15 07:10] #232 closed, assigned to nobody

[2018-02-15 07:10] gdestuynder commented on #233
done

[2018-02-15 07:10] #233 closed, assigned to comzeradd

[2018-02-15 07:10] gdestuynder commented on #235
done

[2018-02-15 07:10] #235 closed, assigned to nobody

[2018-02-15 07:11] #201 closed, assigned to nobody

[2018-02-15 07:11] #198 closed, assigned to nobody

[2018-02-15 07:11] gdestuynder commented on #200
=(